In [64]:
import csv
import os
from urllib.parse import quote

import pandas as pd
from rdflib import ConjunctiveGraph, Graph
from rdflib import Dataset, URIRef, Literal
from rdflib.term import Node
from urllib.parse import urlparse

In [2]:
n4l_data_directory = "N4L_phenotypic_ontology_2016"

In [3]:
xlsx_config_path = "n4l-xlsx-parsing-config.tsv"

In [4]:
delimited_text_configs = [
    {
        "filename": "N4L_Taxonomy_20220802.tsv",
        "path": f"{n4l_data_directory}/N4L_Taxonomy_20220802.tsv",
        "id_column": "N4LID",
        "delimiter": "\t"
    },
    {
        "filename": "N4L_Taxonomy_20220802_pruned.tsv",
        "path": f"{n4l_data_directory}/N4L_Taxonomy_20220802_pruned.tsv",
        "id_column": "N4LID",
        "delimiter": "\t"
    },
    {
        "filename": "reference_id_mapping.csv",
        "path": f"{n4l_data_directory}/reference_id_mapping.csv",
        "id_column": "refid",
        "delimiter": ","
    }
]

In [5]:
def str_to_bool(val):
    """Convert common string values to boolean."""
    if pd.isna(val):
        return False
    return str(val).strip().lower() in {"1", "true", "yes", "y", "t"}

In [6]:
def process_transposed_sheet(df, id_column):
    df = df.transpose()
    df.columns = df.iloc[0]
    df = df[1:].reset_index(drop=True)

    if id_column not in df.columns:
        raise ValueError(f"'{id_column}' not found in transposed headers")

    df = df.dropna(subset=[id_column])
    melted = df.melt(id_vars=[id_column], var_name="predicate", value_name="object_value")
    return melted

In [7]:
def process_standard_sheet(df, id_column):
    if id_column not in df.columns:
        raise ValueError(f"'{id_column}' not found in standard headers")

    df = df.dropna(subset=[id_column])
    melted = df.melt(id_vars=[id_column], var_name="predicate", value_name="object_value")
    return melted

In [65]:
def safe_object_term(val):
    if pd.isna(val):
        return None
    val = str(val).strip()
    parsed = urlparse(val)
    if parsed.scheme in ("http", "https") and parsed.netloc and " " not in val:
        try:
            return URIRef(val)  # Only if it's really URI-safe
        except:
            pass
    return Literal(val)

In [8]:
melted_frames = []
melted_dropped_frames = []

In [9]:
for config in delimited_text_configs:
    try:
        df = pd.read_csv(config["path"], sep=config["delimiter"], low_memory=False)

        graph_iri = f"http://example.com/metpo/{quote(config['filename'].strip())}"

        # Remove exact duplicates before anything else
        before = df.shape[0]
        df = df.drop_duplicates()
        after = df.shape[0]
        if after < before:
            print(f"[QC] {config['filename']} - Removed {before - after} fully duplicated rows")

        id_column = config["id_column"]
        if id_column not in df.columns:
            print(
                f"[ERROR] {config['filename']} - ID column '{id_column}' not found. Available columns: {df.columns.tolist()}")
            continue

        # Drop and log missing ID rows
        missing_id_rows = df[df[id_column].isna()]
        if not missing_id_rows.empty:
            print(f"[QC] {config['filename']} - Dropped {len(missing_id_rows)} rows missing '{id_column}'")
            melted_missing = missing_id_rows.melt(var_name="predicate", value_name="object_value")
            melted_missing["subject"] = None
            melted_missing["source_file"] = config["filename"]
            melted_missing["drop_reason"] = "missing_id"
            melted_missing["graph"] = graph_iri
            melted_dropped_frames.append(melted_missing)

        df = df.dropna(subset=[id_column])

        # Drop and log duplicated IDs
        duplicated_mask = df[id_column].duplicated(keep=False)
        if duplicated_mask.any():
            duplicated_ids = df.loc[duplicated_mask, id_column].unique()
            print(
                f"[DUPLICATES] {config['filename']} - {duplicated_mask.sum()} duplicate rows on '{id_column}' → {duplicated_ids.tolist()}")
            melted_dupes = df.loc[duplicated_mask].melt(var_name="predicate", value_name="object_value")
            melted_dupes["subject"] = df.loc[duplicated_mask, id_column].values.repeat(len(df.columns) - 1)
            melted_dupes["source_file"] = config["filename"]
            melted_dupes["drop_reason"] = "duplicate_id"
            melted_dupes["graph"] = graph_iri
            melted_dropped_frames.append(melted_dupes)
            df = df[~duplicated_mask]
        else:
            print(f"[DUPLICATES] {config['filename']} - No duplicates in '{id_column}'")

        # Melt and append
        melted = df.melt(id_vars=[id_column], var_name="predicate", value_name="object_value")
        melted = melted.rename(columns={id_column: "subject"})
        melted = melted.dropna(subset=["subject", "predicate", "object_value"])
        melted["subject"] = melted["subject"].astype(str).apply(
            lambda x: f"http://example.com/metpo/{quote(x.strip())}")
        melted["predicate"] = melted["predicate"].astype(str).apply(
            lambda x: f"http://example.com/metpo/{quote(x.strip())}")
        melted["source_file"] = config["filename"]
        melted["graph"] = graph_iri
        melted_frames.append(melted)
        print(f"[INFO] {config['filename']} → {melted.shape[0]} melted rows")

    except Exception as e:
        print(f"[ERROR] Failed processing {config['filename']} - {e}")

[DUPLICATES] N4L_Taxonomy_20220802.tsv - No duplicates in 'N4LID'
[INFO] N4L_Taxonomy_20220802.tsv → 1273296 melted rows
[DUPLICATES] N4L_Taxonomy_20220802_pruned.tsv - No duplicates in 'N4LID'
[INFO] N4L_Taxonomy_20220802_pruned.tsv → 957331 melted rows
[DUPLICATES] reference_id_mapping.csv - No duplicates in 'refid'
[INFO] reference_id_mapping.csv → 64272 melted rows

In [10]:
# combined_delim_text_df = pd.concat(melted_frames, ignore_index=True)

In [11]:
# xlsx_sheet_configs = []

In [12]:
# for filename in xlsx_files:
#     print(f"Reading {filename}")
#     path = os.path.join(n4l_data_directory, filename)
#     try:
#         xls = pd.ExcelFile(path)
#         for sheet_name in xls.sheet_names:
#             xlsx_sheet_configs.append({
#                 "filename": filename,
#                 "sheet_name": sheet_name,
#                 "id_column": None,
#                 "skip": False
#             })
#     except Exception as e:
#         print(f"Error reading {filename}: {e}")

In [13]:
# xlsx_sheet_configs

In [14]:
# xlsx_sheet_configs_frame = pd.DataFrame(xlsx_sheet_configs)

In [15]:
# xlsx_sheet_configs_frame.to_csv("n4l-xlsx-parsing-config.tsv", sep="\t", index=False)

In [16]:
xlsx_sheet_configs = pd.read_csv(xlsx_config_path, sep="\t")

In [17]:
xlsx_sheet_configs

,filename,sheet_name,id_column,skip,requires_transposition,spo_already,note
0,article_download_status_20161222.xlsx,all_protologs,UID,False,False,NaN,UID style: rid.10014_nm.6832
1,article_download_status_20161222.xlsx,parsed_protologs,UID,False,False,NaN,NaN
2,complete.term.book_07.18.2013_CTP.xlsx,Sheet1,Term|class,False,False,NaN,NaN
3,complete.term.book_07.18.2013_CTP.xlsx,Sheet2,NaN,True,False,NaN,blank
4,complete.term.book_07.18.2013_CTP.xlsx,Sheet3,NaN,True,False,NaN,blank
5,media_normalized_20130916.xlsx,chemical_exemplar,chemical_exemplar.id,False,False,NaN,NaN
6,media_normalized_20130916.xlsx,chemical_name,chemical_name.id,False,False,NaN,NaN
7,media_normalized_20130916.xlsx,chemical_taxon,chemical_taxon.id,False,False,NaN,NaN
8,media_normalized_20130916.xlsx,chemical_taxon_exemplar,chemical_taxon.id,False,False,NaN,NaN
9,media_normalized_20130916.xlsx,ingredient,NaN,True,False,NaN,I see Excel formulae
10,media_normalized_20130916.xlsx,medium,substance_exemplar.id,False,False,NaN,NaN
11,media_normalized_20130916.xlsx,medium_features,NaN,False,False,True,NaN
12,media_normalized_20130916.xlsx,medium_name,substance_name.id,False,False,NaN,NaN
13,media_normalized_20130916.xlsx,medium_taxon,substance_taxon.id,False,False,NaN,NaN
14,media_normalized_20130916.xlsx,medium_taxon_exemplar,taxon_id,False,False,NaN,NaN
15,media_normalized_20130916.xlsx,medium_taxonomy,substance_taxonomy.parent_taxon_id|substance_t...,False,False,NaN,NaN
16,media_normalized_20130916.xlsx,medium_taxonomy_full,substance_name.id,False,False,NaN,NaN
17,media_normalized_20130916.xlsx,mixture_exemplar,exemplar_id,False,False,NaN,NaN
18,media_normalized_20130916.xlsx,mixture_ingredient,ingredient.list_id|sort_order,False,False,NaN,NaN
19,media_normalized_20130916.xlsx,mixture_name,substance_name.id,False,False,NaN,NaN
20,media_normalized_20130916.xlsx,mixture_taxon,substance_taxon.id,False,False,NaN,NaN
21,media_normalized_20130916.xlsx,mixture_taxon_exemplar,taxon_id,False,False,NaN,NaN
22,media_normalized_20130916.xlsx,mixture_taxonomy,substance_taxonomy.parent|substance_taxonomy.c...,False,False,NaN,NaN
23,media_normalized_20130916.xlsx,product,substance_name.id|vendor|productId,False,False,NaN,NaN
24,media_normalized_20130916.xlsx,substance_exemplar,substance_exemplar.id,False,False,NaN,NaN
25,media_normalized_20130916.xlsx,substance_exemplar_feature,NaN,True,False,NaN,blank except for headers
26,media_normalized_20130916.xlsx,substance_exemplar_type,substance_exemplar_feature_type.type,False,False,NaN,NaN
27,media_normalized_20130916.xlsx,unit,id,False,False,NaN,NaN
28,media_normalized_20130916.xlsx,vendor,abbrev,False,False,NaN,NaN
29,N4L_ID_to_NCBI_mappings.xlsx,N4L_NM.ID_to_EX.ID,Name N4LID,False,False,NaN,NaN
30,N4L_ID_to_NCBI_mappings.xlsx,N4L_NM.ID_to_NCBI_TaxID,Name N4LID,False,False,NaN,NaN
31,N4L_ID_to_NCBI_mappings.xlsx,N4L_REF.ID_to_DOCID,refid,False,False,NaN,NaN
32,N4L_Taxonomy_20220802_pruned.xlsx,N4L_Taxonomy_20220802_pruned,N4LID,False,False,NaN,NaN
33,N4L_Taxonomy_20220802.xlsx,N4L_Taxonomy_20220802_complete,N4LID,False,False,NaN,NaN
34,N4L_Taxonomy_20220802.xlsx,N4L_Taxonomy_20220802_pruned,N4LID,False,False,NaN,NaN
35,protolog_normalization_categories_with_1000_DB...,1000_proto_proj,rid (effective)|name.id,False,True,NaN,NaN
36,protolog_normalization_categories_with_1000_DB...,Sheet1,NaN,True,False,NaN,Two-level class hierarchy of traits
37,protolog_normalization_categories_with_1000_DB...,Sheet2,rid|name.id,False,True,NaN,NaN
38,protolog_normalization_categories_with_1000_DB...,Sheet3,rid|name.id,False,True,NaN,NaN
39,protolog_normalization_categories_with_1000_KM...,1000_proto_proj,rid (effective/emendation)|name.id,False,True,NaN,NaN
40,protolog_normalization_categories_with_1000_KM...,"All(Sheet1,2,3)",rid|name.id,False,True,NaN,NaN
41,protolog_normalization_categories_with_1000_KM...,EffectRIDProtos(rid.2300 up),rid|name.id,False,True,NaN,NaN
42,protolog_normalization_categories_with_1000_KM...,Notes,NaN,True,False,NaN,skip notes
43,protolog_normalization_categories_with_1000_KM...,Sheet2,rid|name.id,False,True,NaN,NaN

In [18]:
# melted_frames = []
# melted_dropped_frames = []

In [19]:
for _, row in xlsx_sheet_configs.iterrows():
    print(row)

    skip = str_to_bool(row.get("skip", False))
    spo_already = str_to_bool(row.get("spo_already", False))
    requires_transposition = str_to_bool(row.get("requires_transposition", False))
    id_column = row.get("id_column")
    composite_columns = None

    if skip:
        continue

    file_path = os.path.join(n4l_data_directory, row["filename"])
    sheet_name = row["sheet_name"]
    graph_iri = f"http://example.com/metpo/{quote(row['filename'].strip())}/{quote(sheet_name.strip())}"

    try:
        df = pd.read_excel(file_path, sheet_name=sheet_name, header=None if requires_transposition else 0)

        if requires_transposition:
            df = df.transpose()
            df.columns = df.iloc[0]
            df = df[1:].reset_index(drop=True)

        df.columns = df.columns.map(lambda x: str(x).strip())  # Normalize column names

        if spo_already:
            if df.shape[1] != 3:
                print(
                    f"[ERROR] {row['filename']}:{sheet_name} - Expected 3 columns for SPO format, found {df.shape[1]}")
                continue
            df.columns = ["subject", "predicate", "object_value"]
            df = df.dropna(subset=["subject", "predicate", "object_value"])
            df["subject"] = df["subject"].astype(str).apply(lambda x: f"http://example.com/metpo/{quote(x.strip())}")
            df["predicate"] = df["predicate"].astype(str).apply(
                lambda x: f"http://example.com/metpo/{quote(x.strip())}")
            df["source_file"] = row["filename"]
            df["source_sheet"] = sheet_name
            df["graph"] = graph_iri
            melted_frames.append(df)
            print(f"[INFO] {row['filename']}:{sheet_name} (SPO) → {df.shape[0]} rows")
            continue

        # Handle composite columns
        if isinstance(id_column, str) and "|" in id_column:
            composite_columns = [col.strip() for col in id_column.split("|")]

            # Match normalized names
            normalized_cols = {str(col).strip(): col for col in df.columns}
            missing = [col for col in composite_columns if col not in normalized_cols]
            if missing:
                print(f"[ERROR] {row['filename']}:{sheet_name} - Missing composite ID columns: {missing}")
                continue

            matched = [normalized_cols[col] for col in composite_columns]
            id_column = "_".join(composite_columns)
            df[id_column] = df[matched].astype(str).agg(
                lambda vals: "_".join([v for v in vals if v != "nan"]), axis=1
            )
            blank_ids = df[id_column] == ""
            if blank_ids.any():
                print(f"[QC] {row['filename']}:{sheet_name} - Dropped {blank_ids.sum()} rows with blank synthetic ID")
                df = df[~blank_ids]
            print(f"[INFO] Created synthetic ID column '{id_column}' from: {composite_columns}")
        else:
            if pd.isna(id_column):
                print(f"[ERROR] {row['filename']}:{sheet_name} - ID column is NaN")
                continue

            normalized_cols = {str(col).strip(): col for col in df.columns}
            if id_column.strip() not in normalized_cols:
                print(
                    f"[ERROR] {row['filename']}:{sheet_name} - ID column '{id_column}' not found. Available columns: {df.columns.tolist()}")
                continue
            id_column = normalized_cols[id_column.strip()]

        df = df.drop_duplicates()
        df = df.dropna(subset=[id_column])

        full_dupes = df.duplicated()
        if full_dupes.any():
            print(f"[QC] {row['filename']}:{sheet_name} - Removed {full_dupes.sum()} fully duplicated rows")
            df = df[~full_dupes]

        duplicated_mask = df[id_column].duplicated(keep=False)
        duplicated_rows = df[duplicated_mask]

        if not duplicated_rows.empty:
            duplicated_ids = df[duplicated_mask][id_column].unique()
            print(
                f"[DUPLICATES] {row['filename']}:{sheet_name} - {len(duplicated_rows)} duplicate rows on '{id_column}' → {list(duplicated_ids)}")
            df = df[~duplicated_mask]
        else:
            print(f"[DUPLICATES] {row['filename']}:{sheet_name} - No duplicates in '{id_column}'")

        melted = df.melt(id_vars=[id_column], var_name="predicate", value_name="object_value")
        melted = melted.rename(columns={id_column: "subject"})
        melted = melted.dropna(subset=["subject", "predicate", "object_value"])
        melted["subject"] = melted["subject"].astype(str).apply(
            lambda x: f"http://example.com/metpo/{quote(x.strip())}")
        melted["predicate"] = melted["predicate"].astype(str).apply(
            lambda x: f"http://example.com/metpo/{quote(x.strip())}")
        melted["source_file"] = row["filename"]
        melted["source_sheet"] = sheet_name
        melted["graph"] = graph_iri
        melted_frames.append(melted)
        print(f"[INFO] {row['filename']}:{sheet_name} → {melted.shape[0]} melted rows")

    except Exception as e:
        print(f"[ERROR] Failed processing {row['filename']}:{sheet_name} - {e}")

filename                  article_download_status_20161222.xlsx
sheet_name                                        all_protologs
id_column                                                   UID
skip                                                      False
requires_transposition                                    False
spo_already                                                 NaN
note                               UID style: rid.10014_nm.6832
Name: 0, dtype: object
[DUPLICATES] article_download_status_20161222.xlsx:all_protologs - No duplicates in 'UID'
[INFO] article_download_status_20161222.xlsx:all_protologs → 58601 melted rows
filename                  article_download_status_20161222.xlsx
sheet_name                                     parsed_protologs
id_column                                                   UID
skip                                                      False
requires_transposition                                    False
spo_already                                                 NaN
note                                                        NaN
Name: 1, dtype: object
[DUPLICATES] article_download_status_20161222.xlsx:parsed_protologs - No duplicates in 'UID'
[INFO] article_download_status_20161222.xlsx:parsed_protologs → 39440 melted rows
filename                  complete.term.book_07.18.2013_CTP.xlsx
sheet_name                                                Sheet1
id_column                                             Term|class
skip                                                       False
requires_transposition                                     False
spo_already                                                  NaN
note                                                         NaN
Name: 2, dtype: object
[INFO] Created synthetic ID column 'Term_class' from: ['Term', 'class']
[DUPLICATES] complete.term.book_07.18.2013_CTP.xlsx:Sheet1 - No duplicates in 'Term_class'
[INFO] complete.term.book_07.18.2013_CTP.xlsx:Sheet1 → 3984 melted rows
filename                  complete.term.book_07.18.2013_CTP.xlsx
sheet_name                                                Sheet2
id_column                                                    NaN
skip                                                        True
requires_transposition                                     False
spo_already                                                  NaN
note                                                       blank
Name: 3, dtype: object
filename                  complete.term.book_07.18.2013_CTP.xlsx
sheet_name                                                Sheet3
id_column                                                    NaN
skip                                                        True
requires_transposition                                     False
spo_already                                                  NaN
note                                                       blank
Name: 4, dtype: object
filename                  media_normalized_20130916.xlsx
sheet_name                             chemical_exemplar
id_column                           chemical_exemplar.id
skip                                               False
requires_transposition                             False
spo_already                                          NaN
note                                                 NaN
Name: 5, dtype: object
[DUPLICATES] media_normalized_20130916.xlsx:chemical_exemplar - No duplicates in 'chemical_exemplar.id'
[INFO] media_normalized_20130916.xlsx:chemical_exemplar → 240 melted rows
filename                  media_normalized_20130916.xlsx
sheet_name                                 chemical_name
id_column                               chemical_name.id
skip                                               False
requires_transposition                             False
spo_already                                          NaN
note                                                 NaN
Name: 6, dtype: object
[DUPLICATES] media_normalized_20130916.xlsx:chemical_name - No duplicates in 'chemical_name.id'
[INFO] media_normalized_20130916.xlsx:chemical_name → 258 melted rows
filename                  media_normalized_20130916.xlsx
sheet_name                                chemical_taxon
id_column                              chemical_taxon.id
skip                                               False
requires_transposition                             False
spo_already                                          NaN
note                                                 NaN
Name: 7, dtype: object
[DUPLICATES] media_normalized_20130916.xlsx:chemical_taxon - No duplicates in 'chemical_taxon.id'
[INFO] media_normalized_20130916.xlsx:chemical_taxon → 114 melted rows
filename                  media_normalized_20130916.xlsx
sheet_name                       chemical_taxon_exemplar
id_column                              chemical_taxon.id
skip                                               False
requires_transposition                             False
spo_already                                          NaN
note                                                 NaN
Name: 8, dtype: object
[DUPLICATES] media_normalized_20130916.xlsx:chemical_taxon_exemplar - No duplicates in 'chemical_taxon.id'
[INFO] media_normalized_20130916.xlsx:chemical_taxon_exemplar → 114 melted rows
filename                  media_normalized_20130916.xlsx
sheet_name                                    ingredient
id_column                                            NaN
skip                                                True
requires_transposition                             False
spo_already                                          NaN
note                                I see Excel formulae
Name: 9, dtype: object
filename                  media_normalized_20130916.xlsx
sheet_name                                        medium
id_column                          substance_exemplar.id
skip                                               False
requires_transposition                             False
spo_already                                          NaN
note                                                 NaN
Name: 10, dtype: object
[DUPLICATES] media_normalized_20130916.xlsx:medium - 4 duplicate rows on 'substance_exemplar.id' → ['10.1601/medium.exemplar.58', '10.1601/medium.exemplar.279']
[INFO] media_normalized_20130916.xlsx:medium → 143 melted rows
filename                  media_normalized_20130916.xlsx
sheet_name                               medium_features
id_column                                            NaN
skip                                               False
requires_transposition                             False
spo_already                                         True
note                                                 NaN
Name: 11, dtype: object
[INFO] media_normalized_20130916.xlsx:medium_features (SPO) → 627 rows
filename                  media_normalized_20130916.xlsx
sheet_name                                   medium_name
id_column                              substance_name.id
skip                                               False
requires_transposition                             False
spo_already                                          NaN
note                                                 NaN
Name: 12, dtype: object
[DUPLICATES] media_normalized_20130916.xlsx:medium_name - No duplicates in 'substance_name.id'
[INFO] media_normalized_20130916.xlsx:medium_name → 989 melted rows
filename                  media_normalized_20130916.xlsx
sheet_name                                  medium_taxon
id_column                             substance_taxon.id
skip                                               False
requires_transposition                             False
spo_already                                          NaN
note                                                 NaN
Name: 13, dtype: object
[DUPLICATES] media_normalized_20130916.xlsx:medium_taxon - No duplicates in 'substance_taxon.id'
[INFO] media_normalized_20130916.xlsx:medium_taxon → 362 melted rows
filename                  media_normalized_20130916.xlsx
sheet_name                         medium_taxon_exemplar
id_column                                       taxon_id
skip                                               False
requires_transposition                             False
spo_already                                          NaN
note                                                 NaN
Name: 14, dtype: object
[ERROR] media_normalized_20130916.xlsx:medium_taxon_exemplar - ID column 'taxon_id' not found. Available columns: ['medium_taxon_exemplar.taxon_id', 'medium_taxon_exemplar.exemplar_id']
filename                                     media_normalized_20130916.xlsx
sheet_name                                                  medium_taxonomy
id_column                 substance_taxonomy.parent_taxon_id|substance_t...
skip                                                                  False
requires_transposition                                                False
spo_already                                                             NaN
note                                                                    NaN
Name: 15, dtype: object
[INFO] Created synthetic ID column 'substance_taxonomy.parent_taxon_id_substance_taxonomy.child_taxon_id' from: ['substance_taxonomy.parent_taxon_id', 'substance_taxonomy.child_taxon_id']
[DUPLICATES] media_normalized_20130916.xlsx:medium_taxonomy - No duplicates in 'substance_taxonomy.parent_taxon_id_substance_taxonomy.child_taxon_id'
[INFO] media_normalized_20130916.xlsx:medium_taxonomy → 722 melted rows
filename                  media_normalized_20130916.xlsx
sheet_name                          medium_taxonomy_full
id_column                              substance_name.id
skip                                               False
requires_transposition                             False
spo_already                                          NaN
note                                                 NaN
Name: 16, dtype: object
[DUPLICATES] media_normalized_20130916.xlsx:medium_taxonomy_full - No duplicates in 'substance_name.id'
[INFO] media_normalized_20130916.xlsx:medium_taxonomy_full → 2248 melted rows
filename                  media_normalized_20130916.xlsx
sheet_name                              mixture_exemplar
id_column                                    exemplar_id
skip                                               False
requires_transposition                             False
spo_already                                          NaN
note                                                 NaN
Name: 17, dtype: object
[DUPLICATES] media_normalized_20130916.xlsx:mixture_exemplar - No duplicates in 'exemplar_id'
[INFO] media_normalized_20130916.xlsx:mixture_exemplar → 99 melted rows
filename                  media_normalized_20130916.xlsx
sheet_name                            mixture_ingredient
id_column                  ingredient.list_id|sort_order
skip                                               False
requires_transposition                             False
spo_already                                          NaN
note                                                 NaN
Name: 18, dtype: object
[INFO] Created synthetic ID column 'ingredient.list_id_sort_order' from: ['ingredient.list_id', 'sort_order']
[DUPLICATES] media_normalized_20130916.xlsx:mixture_ingredient - No duplicates in 'ingredient.list_id_sort_order'
[INFO] media_normalized_20130916.xlsx:mixture_ingredient → 527 melted rows
filename                  media_normalized_20130916.xlsx
sheet_name                                  mixture_name
id_column                              substance_name.id
skip                                               False
requires_transposition                             False
spo_already                                          NaN
note                                                 NaN
Name: 19, dtype: object
[DUPLICATES] media_normalized_20130916.xlsx:mixture_name - No duplicates in 'substance_name.id'
[INFO] media_normalized_20130916.xlsx:mixture_name → 110 melted rows
filename                  media_normalized_20130916.xlsx
sheet_name                                 mixture_taxon
id_column                             substance_taxon.id
skip                                               False
requires_transposition                             False
spo_already                                          NaN
note                                                 NaN
Name: 20, dtype: object
[DUPLICATES] media_normalized_20130916.xlsx:mixture_taxon - No duplicates in 'substance_taxon.id'
[INFO] media_normalized_20130916.xlsx:mixture_taxon → 53 melted rows
filename                  media_normalized_20130916.xlsx
sheet_name                        mixture_taxon_exemplar
id_column                                       taxon_id
skip                                               False
requires_transposition                             False
spo_already                                          NaN
note                                                 NaN
Name: 21, dtype: object
[DUPLICATES] media_normalized_20130916.xlsx:mixture_taxon_exemplar - No duplicates in 'taxon_id'
[INFO] media_normalized_20130916.xlsx:mixture_taxon_exemplar → 36 melted rows
filename                                     media_normalized_20130916.xlsx
sheet_name                                                 mixture_taxonomy
id_column                 substance_taxonomy.parent|substance_taxonomy.c...
skip                                                                  False
requires_transposition                                                False
spo_already                                                             NaN
note                                                                    NaN
Name: 22, dtype: object
[INFO] Created synthetic ID column 'substance_taxonomy.parent_substance_taxonomy.child' from: ['substance_taxonomy.parent', 'substance_taxonomy.child']
[DUPLICATES] media_normalized_20130916.xlsx:mixture_taxonomy - No duplicates in 'substance_taxonomy.parent_substance_taxonomy.child'
[INFO] media_normalized_20130916.xlsx:mixture_taxonomy → 106 melted rows
filename                      media_normalized_20130916.xlsx
sheet_name                                           product
id_column                 substance_name.id|vendor|productId
skip                                                   False
requires_transposition                                 False
spo_already                                              NaN
note                                                     NaN
Name: 23, dtype: object
[INFO] Created synthetic ID column 'substance_name.id_vendor_productId' from: ['substance_name.id', 'vendor', 'productId']
[DUPLICATES] media_normalized_20130916.xlsx:product - No duplicates in 'substance_name.id_vendor_productId'
[INFO] media_normalized_20130916.xlsx:product → 628 melted rows
filename                  media_normalized_20130916.xlsx
sheet_name                            substance_exemplar
id_column                          substance_exemplar.id
skip                                               False
requires_transposition                             False
spo_already                                          NaN
note                                                 NaN
Name: 24, dtype: object
[DUPLICATES] media_normalized_20130916.xlsx:substance_exemplar - No duplicates in 'substance_exemplar.id'
[INFO] media_normalized_20130916.xlsx:substance_exemplar → 184 melted rows
filename                  media_normalized_20130916.xlsx
sheet_name                    substance_exemplar_feature
id_column                                            NaN
skip                                                True
requires_transposition                             False
spo_already                                          NaN
note                            blank except for headers
Name: 25, dtype: object
filename                        media_normalized_20130916.xlsx
sheet_name                             substance_exemplar_type
id_column                 substance_exemplar_feature_type.type
skip                                                     False
requires_transposition                                   False
spo_already                                                NaN
note                                                       NaN
Name: 26, dtype: object
[DUPLICATES] media_normalized_20130916.xlsx:substance_exemplar_type - No duplicates in 'substance_exemplar_feature_type.type'
[INFO] media_normalized_20130916.xlsx:substance_exemplar_type → 4 melted rows
filename                  media_normalized_20130916.xlsx
sheet_name                                          unit
id_column                                             id
skip                                               False
requires_transposition                             False
spo_already                                          NaN
note                                                 NaN
Name: 27, dtype: object
[DUPLICATES] media_normalized_20130916.xlsx:unit - No duplicates in 'id'
[INFO] media_normalized_20130916.xlsx:unit → 36 melted rows
filename                  media_normalized_20130916.xlsx
sheet_name                                        vendor
id_column                                         abbrev
skip                                               False
requires_transposition                             False
spo_already                                          NaN
note                                                 NaN
Name: 28, dtype: object
[DUPLICATES] media_normalized_20130916.xlsx:vendor - No duplicates in 'abbrev'
[INFO] media_normalized_20130916.xlsx:vendor → 69 melted rows
filename                  N4L_ID_to_NCBI_mappings.xlsx
sheet_name                          N4L_NM.ID_to_EX.ID
id_column                                   Name N4LID
skip                                             False
requires_transposition                           False
spo_already                                        NaN
note                                               NaN
Name: 29, dtype: object
[DUPLICATES] N4L_ID_to_NCBI_mappings.xlsx:N4L_NM.ID_to_EX.ID - No duplicates in 'Name N4LID'
[INFO] N4L_ID_to_NCBI_mappings.xlsx:N4L_NM.ID_to_EX.ID → 279917 melted rows
filename                  N4L_ID_to_NCBI_mappings.xlsx
sheet_name                     N4L_NM.ID_to_NCBI_TaxID
id_column                                   Name N4LID
skip                                             False
requires_transposition                           False
spo_already                                        NaN
note                                               NaN
Name: 30, dtype: object
[DUPLICATES] N4L_ID_to_NCBI_mappings.xlsx:N4L_NM.ID_to_NCBI_TaxID - No duplicates in 'Name N4LID'
[INFO] N4L_ID_to_NCBI_mappings.xlsx:N4L_NM.ID_to_NCBI_TaxID → 91363 melted rows
filename                  N4L_ID_to_NCBI_mappings.xlsx
sheet_name                         N4L_REF.ID_to_DOCID
id_column                                        refid
skip                                             False
requires_transposition                           False
spo_already                                        NaN
note                                               NaN
Name: 31, dtype: object
[DUPLICATES] N4L_ID_to_NCBI_mappings.xlsx:N4L_REF.ID_to_DOCID - No duplicates in 'refid'
[INFO] N4L_ID_to_NCBI_mappings.xlsx:N4L_REF.ID_to_DOCID → 64272 melted rows
filename                  N4L_Taxonomy_20220802_pruned.xlsx
sheet_name                     N4L_Taxonomy_20220802_pruned
id_column                                             N4LID
skip                                                  False
requires_transposition                                False
spo_already                                             NaN
note                                                    NaN

/home/mark/gitrepos/metpo/.venv/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

[INFO] Created synthetic ID column 'rid_name.id' from: ['rid', 'name.id']
[DUPLICATES] protolog_normalization_categories_with_1000_DB.xlsx:Sheet2 - 2 duplicate rows on 'rid_name.id' → ['rid.2332_RID.2332 many OCR errors']
[INFO] protolog_normalization_categories_with_1000_DB.xlsx:Sheet2 → 20917 melted rows
filename                  protolog_normalization_categories_with_1000_DB...
sheet_name                                                           Sheet3
id_column                                                       rid|name.id
skip                                                                  False
requires_transposition                                                 True
spo_already                                                             NaN
note                                                                    NaN
Name: 38, dtype: object

/home/mark/gitrepos/metpo/.venv/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

[INFO] Created synthetic ID column 'rid_name.id' from: ['rid', 'name.id']
[DUPLICATES] protolog_normalization_categories_with_1000_DB.xlsx:Sheet3 - No duplicates in 'rid_name.id'
[INFO] protolog_normalization_categories_with_1000_DB.xlsx:Sheet3 → 5248 melted rows
filename                  protolog_normalization_categories_with_1000_KM...
sheet_name                                                  1000_proto_proj
id_column                                rid (effective/emendation)|name.id
skip                                                                  False
requires_transposition                                                 True
spo_already                                                             NaN
note                                                                    NaN
Name: 39, dtype: object
[QC] protolog_normalization_categories_with_1000_KMP.xlsx:1000_proto_proj - Dropped 9 rows with blank synthetic ID
[INFO] Created synthetic ID column 'rid (effective/emendation)_name.id' from: ['rid (effective/emendation)', 'name.id']
[DUPLICATES] protolog_normalization_categories_with_1000_KMP.xlsx:1000_proto_proj - 6 duplicate rows on 'rid (effective/emendation)_name.id' → ['rid.3042_nm.4682', 'rid.15377_nm.207', 'rid.7454_nm.209']
[INFO] protolog_normalization_categories_with_1000_KMP.xlsx:1000_proto_proj → 33063 melted rows
filename                  protolog_normalization_categories_with_1000_KM...
sheet_name                                                  All(Sheet1,2,3)
id_column                                                       rid|name.id
skip                                                                  False
requires_transposition                                                 True
spo_already                                                             NaN
note                                                                    NaN
Name: 40, dtype: object
[QC] protolog_normalization_categories_with_1000_KMP.xlsx:All(Sheet1,2,3) - Dropped 9 rows with blank synthetic ID
[INFO] Created synthetic ID column 'rid_name.id' from: ['rid', 'name.id']
[DUPLICATES] protolog_normalization_categories_with_1000_KMP.xlsx:All(Sheet1,2,3) - 22 duplicate rows on 'rid_name.id' → ['rid.2332_RID.2332 many OCR errors', 'rid.2351_nm.2812', 'rid.2584_nm.10201', 'rid.2692_nm.4564', 'rid.2809_nm.9168', 'rid.2868_nm.9103', 'rid.2981_nm.1983', 'rid.3042_nm.4682', 'rid.3107_nm.7957', 'rid.15377_nm.207', 'rid.7454_nm.209']
[INFO] protolog_normalization_categories_with_1000_KMP.xlsx:All(Sheet1,2,3) → 56901 melted rows
filename                  protolog_normalization_categories_with_1000_KM...
sheet_name                                     EffectRIDProtos(rid.2300 up)
id_column                                                       rid|name.id
skip                                                                  False
requires_transposition                                                 True
spo_already                                                             NaN
note                                                                    NaN
Name: 41, dtype: object

/home/mark/gitrepos/metpo/.venv/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

[INFO] Created synthetic ID column 'rid_name.id' from: ['rid', 'name.id']
[DUPLICATES] protolog_normalization_categories_with_1000_KMP.xlsx:EffectRIDProtos(rid.2300 up) - 2 duplicate rows on 'rid_name.id' → ['rid.2332_RID.2332 many OCR errors']
[INFO] protolog_normalization_categories_with_1000_KMP.xlsx:EffectRIDProtos(rid.2300 up) → 20915 melted rows
filename                  protolog_normalization_categories_with_1000_KM...
sheet_name                                                            Notes
id_column                                                               NaN
skip                                                                   True
requires_transposition                                                False
spo_already                                                             NaN
note                                                             skip notes
Name: 42, dtype: object
filename                  protolog_normalization_categories_with_1000_KM...
sheet_name                                                           Sheet2
id_column                                                       rid|name.id
skip                                                                  False
requires_transposition                                                 True
spo_already                                                             NaN
note                                                                    NaN
Name: 43, dtype: object
[INFO] Created synthetic ID column 'rid_name.id' from: ['rid', 'name.id']
[DUPLICATES] protolog_normalization_categories_with_1000_KMP.xlsx:Sheet2 - No duplicates in 'rid_name.id'
[INFO] protolog_normalization_categories_with_1000_KMP.xlsx:Sheet2 → 5229 melted rows

/home/mark/gitrepos/metpo/.venv/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [28]:
# Combine all into one frame
combined_df = pd.concat(melted_frames, ignore_index=True)

In [29]:
combined_df.shape

(6179231, 6)

In [30]:
combined_df = combined_df.drop_duplicates()

In [31]:
combined_df.shape

(6179222, 6)

In [32]:
combined_df

,subject,predicate,object_value,source_file,graph,source_sheet
0,http://example.com/metpo/nm.0,http://example.com/metpo/index,1,N4L_Taxonomy_20220802.tsv,http://example.com/metpo/N4L_Taxonomy_20220802...,NaN
1,http://example.com/metpo/nm.1,http://example.com/metpo/index,2,N4L_Taxonomy_20220802.tsv,http://example.com/metpo/N4L_Taxonomy_20220802...,NaN
2,http://example.com/metpo/nm.2,http://example.com/metpo/index,3,N4L_Taxonomy_20220802.tsv,http://example.com/metpo/N4L_Taxonomy_20220802...,NaN
3,http://example.com/metpo/nm.31636,http://example.com/metpo/index,24009,N4L_Taxonomy_20220802.tsv,http://example.com/metpo/N4L_Taxonomy_20220802...,NaN
4,http://example.com/metpo/nm.3,http://example.com/metpo/index,4,N4L_Taxonomy_20220802.tsv,http://example.com/metpo/N4L_Taxonomy_20220802...,NaN
...,...,...,...,...,...,...
6179226,http://example.com/metpo/nm.8017,http://example.com/metpo/note,The descriptions of Murinilabilia sulmonicolor...,protolog_normalization_categories_with_1000_KM...,http://example.com/metpo/protolog_normalizatio...,Sheet2
6179227,http://example.com/metpo/nm.2199,http://example.com/metpo/note,The description of Acidithiobacillus thiooxida...,protolog_normalization_categories_with_1000_KM...,http://example.com/metpo/protolog_normalizatio...,Sheet2
6179228,http://example.com/metpo/nm.5724,http://example.com/metpo/note,In addition to the description of the genus,protolog_normalization_categories_with_1000_KM...,http://example.com/metpo/protolog_normalizatio...,Sheet2
6179229,http://example.com/metpo/rid.4142_nm.1005,http://example.com/metpo/note,no true protolog in this reference,protolog_normalization_categories_with_1000_KM...,http://example.com/metpo/protolog_normalizatio...,Sheet2
6179230,http://example.com/metpo/rid.4142_nm.1006,http://example.com/metpo/note,no true protolog in this reference,protolog_normalization_categories_with_1000_KM...,http://example.com/metpo/protolog_normalizatio...,Sheet2

In [33]:
combined_df = combined_df.dropna(subset=["subject", "predicate", "object_value"])

In [34]:
combined_df.shape

(6179222, 6)

In [36]:
combined_df.columns

Index(['subject', 'predicate', 'object_value', 'source_file', 'graph',
       'source_sheet'],
      dtype='object')

In [35]:
combined_df

,subject,predicate,object_value,source_file,graph,source_sheet
0,http://example.com/metpo/nm.0,http://example.com/metpo/index,1,N4L_Taxonomy_20220802.tsv,http://example.com/metpo/N4L_Taxonomy_20220802...,NaN
1,http://example.com/metpo/nm.1,http://example.com/metpo/index,2,N4L_Taxonomy_20220802.tsv,http://example.com/metpo/N4L_Taxonomy_20220802...,NaN
2,http://example.com/metpo/nm.2,http://example.com/metpo/index,3,N4L_Taxonomy_20220802.tsv,http://example.com/metpo/N4L_Taxonomy_20220802...,NaN
3,http://example.com/metpo/nm.31636,http://example.com/metpo/index,24009,N4L_Taxonomy_20220802.tsv,http://example.com/metpo/N4L_Taxonomy_20220802...,NaN
4,http://example.com/metpo/nm.3,http://example.com/metpo/index,4,N4L_Taxonomy_20220802.tsv,http://example.com/metpo/N4L_Taxonomy_20220802...,NaN
...,...,...,...,...,...,...
6179226,http://example.com/metpo/nm.8017,http://example.com/metpo/note,The descriptions of Murinilabilia sulmonicolor...,protolog_normalization_categories_with_1000_KM...,http://example.com/metpo/protolog_normalizatio...,Sheet2
6179227,http://example.com/metpo/nm.2199,http://example.com/metpo/note,The description of Acidithiobacillus thiooxida...,protolog_normalization_categories_with_1000_KM...,http://example.com/metpo/protolog_normalizatio...,Sheet2
6179228,http://example.com/metpo/nm.5724,http://example.com/metpo/note,In addition to the description of the genus,protolog_normalization_categories_with_1000_KM...,http://example.com/metpo/protolog_normalizatio...,Sheet2
6179229,http://example.com/metpo/rid.4142_nm.1005,http://example.com/metpo/note,no true protolog in this reference,protolog_normalization_categories_with_1000_KM...,http://example.com/metpo/protolog_normalizatio...,Sheet2
6179230,http://example.com/metpo/rid.4142_nm.1006,http://example.com/metpo/note,no true protolog in this reference,protolog_normalization_categories_with_1000_KM...,http://example.com/metpo/protolog_normalizatio...,Sheet2

In [66]:
ds = Dataset()

In [ ]:
for _, row in combined_df.iterrows():
    subj = URIRef(row["subject"])
    pred = URIRef(row["predicate"])
    obj = safe_object_term(row["object_value"])
    graph_iri = URIRef(row["graph"])
    ds.add((subj, pred, obj, graph_iri))

In [62]:
# for _, row in combined_df.iterrows():
#     subj = URIRef(row["subject"])
#     pred = URIRef(row["predicate"])
#
#     # Determine if object is a URI or a literal
#     obj_val = row["object_value"]
#     if isinstance(obj_val, str) and obj_val.startswith("http://"):
#         obj = URIRef(obj_val)
#     else:
#         obj = Literal(obj_val)
#
#     graph_iri = URIRef(row["graph"])
#     ds.get_context(graph_iri).add((subj, pred, obj))

http://www.bd.com/ds/technicalCenter/misc/difcobblmanual_2nded_lowres.pdf (pg 580) & http://www.neogen.com/Acumedia/pdf/ProdInfo/7100_PI.pdf & http://www.atcc.org/~/media/C34920C063D045518910B21D7F95FCD8.ashx does not look like a valid URI, trying to serialize this will break.
http://www.bd.com/ds/technicalCenter/brochures/br_3_2362.pdf & http://www.dsmz.de/microorganisms/medium/pdf/DSMZ_Medium1.pdf & Difco 619 & Atlas 666 & http://www.atcc.org/~/media/E6FA2163B72E4DCD880719A2612F2C92.ashx does not look like a valid URI, trying to serialize this will break.
http://www.bd.com/ds/productCenter/221872.asp & Atlas 867 does not look like a valid URI, trying to serialize this will break.
http://www.atcc.org/~/media/59CA2C55406C491BA70D6BED2E710710.ashx & Atlas 69 does not look like a valid URI, trying to serialize this will break.
http://www.dsmz.de/microorganisms/medium/pdf/DSMZ_Medium67.pdf & http://www.atcc.org/~/media/DEE558F092A74E06B8DC94DC84950A71.ashx does not look like a valid URI, trying to serialize this will break.
http://www.bd.com/europe/regulatory/Assets/IFU/Difco_BBL/218571.pdf & http://www.biokar-diagnostics.com/solabia/produitsDiagnostic.nsf/0/037BD812CB546172C1257495004F3DEE/$file/TDS_BK012_v6.pdf & https://media.vwr.com/stibo/hi_res/8291796.pdf does not look like a valid URI, trying to serialize this will break.
http://www.bd.com/europe/regulatory/Assets/IFU/Difco_BBL/218571.pdf & http://www.biokar-diagnostics.com/solabia/produitsDiagnostic.nsf/0/037BD812CB546172C1257495004F3DEE/$file/TDS_BK012_v6.pdf & https://media.vwr.com/stibo/hi_res/8291796.pdf does not look like a valid URI, trying to serialize this will break.
http://www.mbmdb.com/frontend/display.php?mid=1041 & http://www.dsmz.de/microorganisms/medium/pdf/DSMZ_Medium1199.pdf does not look like a valid URI, trying to serialize this will break.
http://www.mbmdb.com/frontend/display.php?mid=1041 & http://www.dsmz.de/microorganisms/medium/pdf/DSMZ_Medium1199.pdf does not look like a valid URI, trying to serialize this will break.
http://www.atcc.org/~/media/DF06C418BB3A44189AD1A3CEB59B8D6E.ashx & https://us.vwr.com/stibo/hi_res/8042307.pdf does not look like a valid URI, trying to serialize this will break.
http://www.bd.com/europe/regulatory/Assets/IFU/Difco_BBL/277210.pdf & http://www.dsmz.de/microorganisms/medium/pdf/DSMZ_Medium65.pdf does not look like a valid URI, trying to serialize this will break.
http://www.bd.com/europe/regulatory/Assets/IFU/Difco_BBL/277210.pdf & Atlas does not look like a valid URI, trying to serialize this will break.
http://www.mbc.ki.si/list_of_media.htm & corpus does not look like a valid URI, trying to serialize this will break.
http://www.neogen.com/Acumedia/pdf/ProdInfo/7525_PI.pdf & difco & http://www.atcc.org/~/media/32C58DB266E2495FA1676233C854B2A2.ashx does not look like a valid URI, trying to serialize this will break.
http://www.microbelibrary.org/images/arvidson/cultivation%20media/index.html & Difco pg 325 & Atlas 331 does not look like a valid URI, trying to serialize this will break.
http://www.microbelibrary.org/library/laboratory-test/3222-hektoen-enteric-agar-protocol & difco pg 455 & Atlas 431 does not look like a valid URI, trying to serialize this will break.
http://www.microbelibrary.org/library/laboratory-test/3653-phenylethyl-alcohol-agar-protocol & Atlas 707 & difco 667 does not look like a valid URI, trying to serialize this will break.
http://www.microbelibrary.org/library/laboratory-test/3653-phenylethyl-alcohol-agar-protocol & Atlas 707 & difco 667 does not look like a valid URI, trying to serialize this will break.
http://www.bd.com/europe/regulatory/Assets/IFU/Difco_BBL/212352.pdf & http://www.bd.com/ds/technicalCenter/inserts/L007391%2810%29%280907%29.pdf & http://www.bd.com/resource.aspx?IDX=21172 & http://www.bd.com/resource.aspx?IDX=9004 does not look like a valid URI, trying to serialize this will break.
http://www.bd.com/europe/regulatory/Assets/IFU/Difco_BBL/212352.pdf & http://www.bd.com/ds/technicalCenter/inserts/L007391%2810%29%280907%29.pdf & http://www.bd.com/resource.aspx?IDX=21172 & http://www.bd.com/resource.aspx?IDX=9004 does not look like a valid URI, trying to serialize this will break.
http://www.bd.com/europe/regulatory/Assets/IFU/Difco_BBL/212352.pdf & http://www.bd.com/ds/technicalCenter/inserts/L007391%2810%29%280907%29.pdf & http://www.bd.com/resource.aspx?IDX=21172 & http://www.bd.com/resource.aspx?IDX=9004 does not look like a valid URI, trying to serialize this will break.
http://www.bd.com/europe/regulatory/Assets/IFU/Difco_BBL/212352.pdf & http://www.bd.com/ds/technicalCenter/inserts/L007391%2810%29%280907%29.pdf & http://www.bd.com/resource.aspx?IDX=21172 & http://www.bd.com/resource.aspx?IDX=9004 does not look like a valid URI, trying to serialize this will break.
http://www.bd.com/europe/regulatory/Assets/IFU/Difco_BBL/212352.pdf & http://www.bd.com/ds/technicalCenter/inserts/L007391%2810%29%280907%29.pdf & http://www.bd.com/resource.aspx?IDX=21172 & http://www.bd.com/resource.aspx?IDX=9004 does not look like a valid URI, trying to serialize this will break.
http://www.bd.com/europe/regulatory/Assets/IFU/Difco_BBL/212352.pdf & http://www.bd.com/ds/technicalCenter/inserts/L007391%2810%29%280907%29.pdf & http://www.bd.com/resource.aspx?IDX=21172 & http://www.bd.com/resource.aspx?IDX=9004 does not look like a valid URI, trying to serialize this will break.
http://www.bd.com/europe/regulatory/Assets/IFU/Difco_BBL/212352.pdf & http://www.bd.com/ds/technicalCenter/inserts/L007391%2810%29%280907%29.pdf & http://www.bd.com/resource.aspx?IDX=21172 & http://www.bd.com/resource.aspx?IDX=9004 does not look like a valid URI, trying to serialize this will break.
http://www.bd.com/europe/regulatory/Assets/IFU/Difco_BBL/212352.pdf & http://www.bd.com/ds/technicalCenter/inserts/L007391%2810%29%280907%29.pdf & http://www.bd.com/resource.aspx?IDX=21172 & http://www.bd.com/resource.aspx?IDX=9004 does not look like a valid URI, trying to serialize this will break.
http://www.bd.com/europe/regulatory/Assets/IFU/Difco_BBL/212352.pdf & http://www.bd.com/ds/technicalCenter/inserts/L007391%2810%29%280907%29.pdf & http://www.bd.com/resource.aspx?IDX=21172 & http://www.bd.com/resource.aspx?IDX=9004 does not look like a valid URI, trying to serialize this will break.
http://www.bd.com/europe/regulatory/Assets/IFU/Difco_BBL/212352.pdf & http://www.bd.com/ds/technicalCenter/inserts/L007391%2810%29%280907%29.pdf & http://www.bd.com/resource.aspx?IDX=21172 & http://www.bd.com/resource.aspx?IDX=9004 & http://www.bd.com/ds/technicalCenter/inserts/8801671JAA%28201007%29.pdf does not look like a valid URI, trying to serialize this will break.
http://www.neogen.com/Acumedia/pdf/ProdInfo/7734_PI.pdf & www.bd.com/ds/technicalCenter/misc/difcobblmanual_2nded_lowres.pdf pg 158 does not look like a valid URI, trying to serialize this will break.
http://www.neogen.com/Acumedia/pdf/ProdInfo/7734_PI.pdf & www.bd.com/ds/technicalCenter/misc/difcobblmanual_2nded_lowres.pdf pg 158 does not look like a valid URI, trying to serialize this will break.
http://www.neogen.com/Acumedia/pdf/ProdInfo/7734_PI.pdf & www.bd.com/ds/technicalCenter/misc/difcobblmanual_2nded_lowres.pdf pg 158 does not look like a valid URI, trying to serialize this will break.
http://www.neogen.com/Acumedia/pdf/ProdInfo/7734_PI.pdf & www.bd.com/ds/technicalCenter/misc/difcobblmanual_2nded_lowres.pdf pg 158 does not look like a valid URI, trying to serialize this will break.
http://www.neogen.com/Acumedia/pdf/ProdInfo/7734_PI.pdf & www.bd.com/ds/technicalCenter/misc/difcobblmanual_2nded_lowres.pdf pg 158 does not look like a valid URI, trying to serialize this will break.
http://www.atcc.org/~/media/B5025AB990724A91B4491C391E054448.ashx & https://us.vwr.com/stibo/hi_res/8042330.pdf & Atlas 542 does not look like a valid URI, trying to serialize this will break.
http://www.atcc.org/~/media/B5025AB990724A91B4491C391E054448.ashx & https://us.vwr.com/stibo/hi_res/8042330.pdf & Atlas 542 does not look like a valid URI, trying to serialize this will break.
http://www.bd.com/ds/technicalCenter/misc/difcobblmanual_2nded_lowres.pdf page 188 does not look like a valid URI, trying to serialize this will break.
http://himedialabs.com/TD/M1543.pdf & Atlas 472 does not look like a valid URI, trying to serialize this will break.
http://himedialabs.com/TD/M1544.pdf & Atlas 472 does not look like a valid URI, trying to serialize this will break.
http://himedialabs.com/TD/M826S.pdf & https://media.vwr.com/stibo/hi_res/8287171.pdf & http://www.sigmaaldrich.com/etc/medialib/docs/Sigma/Datasheet/7/h8282dat.Par.0001.File.tmp/h8282dat.pdf does not look like a valid URI, trying to serialize this will break.
http://www.bd.com/europe/regulatory/Assets/IFU/Difco_BBL/211874.pdf & https://media.vwr.com/stibo/hi_res/8041750.pdf does not look like a valid URI, trying to serialize this will break.
http://www.fda.gov/Food/FoodScienceResearch/LaboratoryMethods/ucm064402.htm & Atlas 475 does not look like a valid URI, trying to serialize this will break.
http://www.mbmdb.com/frontend/display.php?mid=791 & http://books.google.com/books?id=Tb_Nf7z85J8C&pg=PP6&lpg=PP6&dq=aam+microbial+media&source=bl&ots=oOY-tZOa1J&sig=jS2sapk8PpWmABaba2pVLRp5ljk&hl=en&sa=X&ei=mlftUe-GDqj8yAHE1ICIBw&ved=0CDoQ6AEwAg does not look like a valid URI, trying to serialize this will break.
http://www.dsmz.de/microorganisms/medium/pdf/DSMZ_Medium585.pdf & Atlas 119 does not look like a valid URI, trying to serialize this will break.
http://www.neogen.com/Acumedia/pdf/ProdInfo/7302_PI.pdf & BD 38 & https://media.vwr.com/stibo/hi_res/8041798.pdf does not look like a valid URI, trying to serialize this will break.

In [63]:
# ✅ Serialize to N-Quads file
ds.serialize(destination="n4l-tables.nq", format="nquads")

Exception: "http://himedialabs.com/TD/M1544.pdf & Atlas 472" does not look like a valid URI, I cannot serialize this as N3/Turtle. Perhaps you wanted to urlencode it?