In [1]:
import pandas as pd
import os

In [2]:
n4l_data_directory = "N4L_phenotypic_ontology_2016"

In [3]:
xlsx_config_path = "n4l-xlsx-parsing-config.tsv"

In [4]:
delimited_text_configs = [
    {
        "filename": "N4L_Taxonomy_20220802.tsv",
        "path": f"{n4l_data_directory}/N4L_Taxonomy_20220802.tsv",
        "id_column": "N4LID",
        "delimiter": "\t"
    },
    {
        "filename": "N4L_Taxonomy_20220802_pruned.tsv",
        "path": f"{n4l_data_directory}/N4L_Taxonomy_20220802_pruned.tsv",
        "id_column": "N4LID",
        "delimiter": "\t"
    },
    {
        "filename": "reference_id_mapping.csv",
        "path": f"{n4l_data_directory}/reference_id_mapping.csv",
        "id_column": "refid",
        "delimiter": ","
    }
]

In [5]:
def str_to_bool(val):
    """Convert common string values to boolean."""
    if pd.isna(val):
        return False
    return str(val).strip().lower() in {"1", "true", "yes", "y", "t"}

In [6]:
def process_transposed_sheet(df, id_column):
    df = df.transpose()
    df.columns = df.iloc[0]
    df = df[1:].reset_index(drop=True)

    if id_column not in df.columns:
        raise ValueError(f"'{id_column}' not found in transposed headers")

    df = df.dropna(subset=[id_column])
    melted = df.melt(id_vars=[id_column], var_name="predicate", value_name="object_value")
    return melted

In [7]:
def process_standard_sheet(df, id_column):
    if id_column not in df.columns:
        raise ValueError(f"'{id_column}' not found in standard headers")

    df = df.dropna(subset=[id_column])
    melted = df.melt(id_vars=[id_column], var_name="predicate", value_name="object_value")
    return melted

In [8]:
melted_frames = []
melted_dropped_frames = []

In [9]:
for config in delimited_text_configs:
    df = pd.read_csv(config["path"], sep=config["delimiter"], low_memory=False)

    # Remove exact duplicates before anything else
    before = df.shape[0]
    df = df.drop_duplicates()
    after = df.shape[0]
    if after < before:
        print(f"[QC] {config['filename']} - Removed {before - after} fully duplicated rows")

    id_column = config["id_column"]
    if id_column not in df.columns:
        print(f"[ERROR] {config['filename']} - ID column '{id_column}' not found. Available columns: {df.columns.tolist()}")
        continue

    # Drop and log missing ID rows
    missing_id_rows = df[df[id_column].isna()]
    if not missing_id_rows.empty:
        print(f"[QC] {config['filename']} - Dropped {len(missing_id_rows)} rows missing '{id_column}'")
        melted_missing = missing_id_rows.melt(var_name="predicate", value_name="object_value")
        melted_missing["subject"] = None
        melted_missing["source_file"] = config["filename"]
        melted_missing["drop_reason"] = "missing_id"
        melted_dropped_frames.append(melted_missing)

    df = df.dropna(subset=[id_column])

    # Drop and log duplicated IDs
    duplicated_mask = df[id_column].duplicated(keep=False)
    if duplicated_mask.any():
        duplicated_ids = df.loc[duplicated_mask, id_column].unique()
        print(f"[DUPLICATES] {config['filename']} - {duplicated_mask.sum()} duplicate rows on '{id_column}' → {duplicated_ids.tolist()}")
        melted_dupes = df.loc[duplicated_mask].melt(var_name="predicate", value_name="object_value")
        melted_dupes["subject"] = df.loc[duplicated_mask, id_column].values.repeat(len(df.columns) - 1)
        melted_dupes["source_file"] = config["filename"]
        melted_dupes["drop_reason"] = "duplicate_id"
        melted_dropped_frames.append(melted_dupes)
        df = df[~duplicated_mask]
    else:
        print(f"[DUPLICATES] {config['filename']} - No duplicates in '{id_column}'")

    # Melt and append
    melted = df.melt(id_vars=[id_column], var_name="predicate", value_name="object_value")
    melted = melted.rename(columns={id_column: "subject"})
    melted["source_file"] = config["filename"]
    melted_frames.append(melted)
    print(f"[INFO] {config['filename']} → {melted.shape[0]} melted rows")

[DUPLICATES] N4L_Taxonomy_20220802.tsv - No duplicates in 'N4LID'
[INFO] N4L_Taxonomy_20220802.tsv → 1733490 melted rows
[DUPLICATES] N4L_Taxonomy_20220802_pruned.tsv - No duplicates in 'N4LID'
[INFO] N4L_Taxonomy_20220802_pruned.tsv → 1287953 melted rows
[DUPLICATES] reference_id_mapping.csv - No duplicates in 'refid'
[INFO] reference_id_mapping.csv → 117670 melted rows

In [10]:
# combined_delim_text_df = pd.concat(melted_frames, ignore_index=True)

In [11]:
# xlsx_sheet_configs = []

In [12]:
# for filename in xlsx_files:
#     print(f"Reading {filename}")
#     path = os.path.join(n4l_data_directory, filename)
#     try:
#         xls = pd.ExcelFile(path)
#         for sheet_name in xls.sheet_names:
#             xlsx_sheet_configs.append({
#                 "filename": filename,
#                 "sheet_name": sheet_name,
#                 "id_column": None,
#                 "skip": False
#             })
#     except Exception as e:
#         print(f"Error reading {filename}: {e}")

In [13]:
# xlsx_sheet_configs

In [14]:
# xlsx_sheet_configs_frame = pd.DataFrame(xlsx_sheet_configs)

In [15]:
# xlsx_sheet_configs_frame.to_csv("n4l-xlsx-parsing-config.tsv", sep="\t", index=False)

In [33]:
xlsx_sheet_configs = pd.read_csv(xlsx_config_path, sep="\t")

In [34]:
xlsx_sheet_configs

,filename,sheet_name,id_column,skip,requires_transposition,spo_already,note
0,complete.term.book_07.18.2013_CTP.xlsx,Sheet2,NaN,True,NaN,NaN,blank
1,complete.term.book_07.18.2013_CTP.xlsx,Sheet3,NaN,True,NaN,NaN,blank
2,protolog_normalization_categories_with_1000_DB...,Sheet1,NaN,True,NaN,NaN,Two-level class hierarchy of traits
3,protolog_normalization_categories_with_1000_KM...,Notes,NaN,True,NaN,NaN,NaN
4,N4L_Taxonomy_20220802_pruned.xlsx,N4L_Taxonomy_20220802_pruned,N4LID,False,False,NaN,NaN
5,N4L_Taxonomy_20220802.xlsx,N4L_Taxonomy_20220802_complete,N4LID,False,False,NaN,NaN
6,N4L_Taxonomy_20220802.xlsx,N4L_Taxonomy_20220802_pruned,N4LID,False,False,NaN,NaN
7,N4L_ID_to_NCBI_mappings.xlsx,N4L_NM.ID_to_EX.ID,Name N4LID,False,False,NaN,NaN
8,N4L_ID_to_NCBI_mappings.xlsx,N4L_NM.ID_to_NCBI_TaxID,Name N4LID,False,False,NaN,NaN
9,N4L_ID_to_NCBI_mappings.xlsx,N4L_REF.ID_to_DOCID,refid,False,False,NaN,NaN
10,protolog_normalization_categories_with_1000_DB...,1000_proto_proj,rid (effective)|name.id,False,True,NaN,NaN
11,protolog_normalization_categories_with_1000_KM...,1000_proto_proj,rid (effective/emendation)|name.id,False,True,NaN,NaN
12,protolog_normalization_categories_with_1000_DB...,Sheet2,rid|name.id,False,True,NaN,NaN
13,protolog_normalization_categories_with_1000_DB...,Sheet3,rid|name.id,False,True,NaN,NaN
14,protolog_normalization_categories_with_1000_KM...,"All(Sheet1,2,3)",rid|name.id,False,True,NaN,NaN
15,protolog_normalization_categories_with_1000_KM...,EffectRIDProtos(rid.2300 up),rid|name.id,False,True,NaN,NaN
16,protolog_normalization_categories_with_1000_KM...,Sheet2,rid|name.id,False,True,NaN,NaN
17,complete.term.book_07.18.2013_CTP.xlsx,Sheet1,Term|class,False,False,NaN,NaN
18,article_download_status_20161222.xlsx,all_protologs,UID,False,False,NaN,UID style: rid.10014_nm.6832
19,article_download_status_20161222.xlsx,parsed_protologs,UID,False,False,NaN,NaN
20,media_normalized_20130916.xlsx,chemical_exemplar,NaN,False,NaN,NaN,NaN
21,media_normalized_20130916.xlsx,chemical_name,NaN,False,NaN,NaN,NaN
22,media_normalized_20130916.xlsx,chemical_taxon,NaN,False,NaN,NaN,NaN
23,media_normalized_20130916.xlsx,chemical_taxon_exemplar,NaN,False,NaN,NaN,NaN
24,media_normalized_20130916.xlsx,ingredient,NaN,False,NaN,NaN,NaN
25,media_normalized_20130916.xlsx,medium,substance_exemplar.id,False,False,NaN,NaN
26,media_normalized_20130916.xlsx,medium_features,NaN,False,NaN,True,NaN
27,media_normalized_20130916.xlsx,medium_name,NaN,False,NaN,NaN,NaN
28,media_normalized_20130916.xlsx,medium_taxon,NaN,False,NaN,NaN,NaN
29,media_normalized_20130916.xlsx,medium_taxon_exemplar,NaN,False,NaN,NaN,NaN
30,media_normalized_20130916.xlsx,medium_taxonomy,NaN,False,NaN,NaN,NaN
31,media_normalized_20130916.xlsx,medium_taxonomy_full,NaN,False,NaN,NaN,NaN
32,media_normalized_20130916.xlsx,mixture_exemplar,NaN,False,NaN,NaN,NaN
33,media_normalized_20130916.xlsx,mixture_ingredient,NaN,False,NaN,NaN,NaN
34,media_normalized_20130916.xlsx,mixture_name,NaN,False,NaN,NaN,NaN
35,media_normalized_20130916.xlsx,mixture_taxon,NaN,False,NaN,NaN,NaN
36,media_normalized_20130916.xlsx,mixture_taxon_exemplar,NaN,False,NaN,NaN,NaN
37,media_normalized_20130916.xlsx,mixture_taxonomy,NaN,False,NaN,NaN,NaN
38,media_normalized_20130916.xlsx,product,NaN,False,NaN,NaN,NaN
39,media_normalized_20130916.xlsx,substance_exemplar,NaN,False,NaN,NaN,NaN
40,media_normalized_20130916.xlsx,substance_exemplar_feature,NaN,False,NaN,NaN,NaN
41,media_normalized_20130916.xlsx,substance_exemplar_type,NaN,False,NaN,NaN,NaN
42,media_normalized_20130916.xlsx,unit,NaN,False,NaN,NaN,NaN
43,media_normalized_20130916.xlsx,vendor,NaN,False,NaN,NaN,NaN

In [35]:
melted_frames = []
melted_dropped_frames = []

In [36]:
for _, row in xlsx_sheet_configs.iterrows():
    print(row)

    skip = str_to_bool(row.get("skip", False))
    spo_already = str_to_bool(row.get("spo_already", False))
    requires_transposition = str_to_bool(row.get("requires_transposition", False))
    id_column = row.get("id_column")
    composite_columns = None

    if skip:
        continue

    file_path = os.path.join(n4l_data_directory, row["filename"])
    sheet_name = row["sheet_name"]

    try:
        df = pd.read_excel(file_path, sheet_name=sheet_name, header=None if requires_transposition else 0)

        if requires_transposition:
            df = df.transpose()
            df.columns = df.iloc[0]
            df = df[1:].reset_index(drop=True)

        if spo_already:
            if df.shape[1] != 3:
                print(
                    f"[ERROR] {row['filename']}:{sheet_name} - Expected 3 columns for SPO format, found {df.shape[1]}")
                continue
            df.columns = ["subject", "predicate", "object_value"]
            df = df.dropna(subset=["subject", "predicate", "object_value"])
            df["source_file"] = row["filename"]
            df["source_sheet"] = sheet_name
            melted_frames.append(df)
            print(f"[INFO] {row['filename']}:{sheet_name} (SPO) → {df.shape[0]} rows")
            continue

        if isinstance(id_column, str) and "|" in id_column:
            composite_columns = [col.strip() for col in id_column.split("|")]
            id_column = "_".join(composite_columns)

        if pd.isna(id_column) or id_column not in df.columns:
            print(
                f"[ERROR] {row['filename']}:{sheet_name} - ID column '{id_column}' not found. Available columns: {df.columns.tolist()}")
            continue

        df = df.drop_duplicates()

        if composite_columns:
            missing_cols = [col for col in composite_columns if col not in df.columns]
            if missing_cols:
                print(f"[ERROR] {row['filename']}:{sheet_name} - Missing composite ID columns: {missing_cols}")
                continue

            df = df.reset_index(drop=True)
            df[id_column] = df[composite_columns].astype(str).agg(
                lambda vals: "_".join([v for v in vals if v != "nan"]), axis=1
            )
            blank_ids = df[id_column] == ""
            if blank_ids.any():
                print(f"[QC] {row['filename']}:{sheet_name} - Dropped {blank_ids.sum()} rows with blank synthetic ID")
                df = df[~blank_ids]
            print(f"[INFO] Created synthetic ID column '{id_column}' from: {composite_columns}")

        df = df.dropna(subset=[id_column])

        full_dupes = df.duplicated()
        if full_dupes.any():
            print(f"[QC] {row['filename']}:{sheet_name} - Removed {full_dupes.sum()} fully duplicated rows")
            df = df[~full_dupes]

        duplicated_mask = df[id_column].duplicated(keep=False)
        duplicated_rows = df[duplicated_mask]

        if not duplicated_rows.empty:
            duplicated_ids = duplicated_rows[id_column].unique()
            print(
                f"[DUPLICATES] {row['filename']}:{sheet_name} - {len(duplicated_rows)} duplicate rows on '{id_column}' → {list(duplicated_ids)}")
            df = df[~duplicated_mask]
        else:
            print(f"[DUPLICATES] {row['filename']}:{sheet_name} - No duplicates in '{id_column}'")

        melted = df.melt(id_vars=[id_column], var_name="predicate", value_name="object_value")
        melted = melted.rename(columns={id_column: "subject"})
        melted = melted.dropna(subset=["subject", "predicate", "object_value"])
        melted["source_file"] = row["filename"]
        melted["source_sheet"] = sheet_name
        melted_frames.append(melted)
        print(f"[INFO] {row['filename']}:{sheet_name} → {melted.shape[0]} melted rows")

    except Exception as e:
        print(f"[ERROR] Failed processing {row['filename']}:{sheet_name} - {e}")

filename                  complete.term.book_07.18.2013_CTP.xlsx
sheet_name                                                Sheet2
id_column                                                    NaN
skip                                                        True
requires_transposition                                       NaN
spo_already                                                  NaN
note                                                       blank
Name: 0, dtype: object
filename                  complete.term.book_07.18.2013_CTP.xlsx
sheet_name                                                Sheet3
id_column                                                    NaN
skip                                                        True
requires_transposition                                       NaN
spo_already                                                  NaN
note                                                       blank
Name: 1, dtype: object
filename                  protolog_normalization_categories_with_1000_DB...
sheet_name                                                           Sheet1
id_column                                                               NaN
skip                                                                   True
requires_transposition                                                  NaN
spo_already                                                             NaN
note                                    Two-level class hierarchy of traits
Name: 2, dtype: object
filename                  protolog_normalization_categories_with_1000_KM...
sheet_name                                                            Notes
id_column                                                               NaN
skip                                                                   True
requires_transposition                                                  NaN
spo_already                                                             NaN
note                                                                    NaN
Name: 3, dtype: object
filename                  N4L_Taxonomy_20220802_pruned.xlsx
sheet_name                     N4L_Taxonomy_20220802_pruned
id_column                                             N4LID
skip                                                  False
requires_transposition                                False
spo_already                                             NaN
note                                                    NaN
Name: 4, dtype: object
[DUPLICATES] N4L_Taxonomy_20220802_pruned.xlsx:N4L_Taxonomy_20220802_pruned - No duplicates in 'N4LID'
[INFO] N4L_Taxonomy_20220802_pruned.xlsx:N4L_Taxonomy_20220802_pruned → 957331 melted rows
filename                      N4L_Taxonomy_20220802.xlsx
sheet_name                N4L_Taxonomy_20220802_complete
id_column                                          N4LID
skip                                               False
requires_transposition                             False
spo_already                                          NaN
note                                                 NaN
Name: 5, dtype: object
[DUPLICATES] N4L_Taxonomy_20220802.xlsx:N4L_Taxonomy_20220802_complete - No duplicates in 'N4LID'
[INFO] N4L_Taxonomy_20220802.xlsx:N4L_Taxonomy_20220802_complete → 1273296 melted rows
filename                    N4L_Taxonomy_20220802.xlsx
sheet_name                N4L_Taxonomy_20220802_pruned
id_column                                        N4LID
skip                                             False
requires_transposition                           False
spo_already                                        NaN
note                                               NaN
Name: 6, dtype: object
[DUPLICATES] N4L_Taxonomy_20220802.xlsx:N4L_Taxonomy_20220802_pruned - No duplicates in 'N4LID'
[INFO] N4L_Taxonomy_20220802.xlsx:N4L_Taxonomy_20220802_pruned → 957331 melted rows
filename                  N4L_ID_to_NCBI_mappings.xlsx
sheet_name                          N4L_NM.ID_to_EX.ID
id_column                                   Name N4LID
skip                                             False
requires_transposition                           False
spo_already                                        NaN
note                                               NaN
Name: 7, dtype: object
[DUPLICATES] N4L_ID_to_NCBI_mappings.xlsx:N4L_NM.ID_to_EX.ID - No duplicates in 'Name N4LID'
[INFO] N4L_ID_to_NCBI_mappings.xlsx:N4L_NM.ID_to_EX.ID → 279917 melted rows
filename                  N4L_ID_to_NCBI_mappings.xlsx
sheet_name                     N4L_NM.ID_to_NCBI_TaxID
id_column                                   Name N4LID
skip                                             False
requires_transposition                           False
spo_already                                        NaN
note                                               NaN
Name: 8, dtype: object
[DUPLICATES] N4L_ID_to_NCBI_mappings.xlsx:N4L_NM.ID_to_NCBI_TaxID - No duplicates in 'Name N4LID'
[INFO] N4L_ID_to_NCBI_mappings.xlsx:N4L_NM.ID_to_NCBI_TaxID → 91363 melted rows
filename                  N4L_ID_to_NCBI_mappings.xlsx
sheet_name                         N4L_REF.ID_to_DOCID
id_column                                        refid
skip                                             False
requires_transposition                           False
spo_already                                        NaN
note                                               NaN
Name: 9, dtype: object
[DUPLICATES] N4L_ID_to_NCBI_mappings.xlsx:N4L_REF.ID_to_DOCID - No duplicates in 'refid'
[INFO] N4L_ID_to_NCBI_mappings.xlsx:N4L_REF.ID_to_DOCID → 64272 melted rows
filename                  protolog_normalization_categories_with_1000_DB...
sheet_name                                                  1000_proto_proj
id_column                                           rid (effective)|name.id
skip                                                                  False
requires_transposition                                                 True
spo_already                                                             NaN
note                                                                    NaN
Name: 10, dtype: object
[ERROR] protolog_normalization_categories_with_1000_DB.xlsx:1000_proto_proj - ID column 'rid (effective)_name.id' not found. Available columns: ['name', 'ex.id (or tx.id)', 'name.id', 'rid (effective)', 'Gram positive/negative', 'Gram stain/reaction', 'Gram type', 'Gram variable', 'acid-fastness', 'other stains', 'cell wall and membrane characteristics and capsules', 'cellular morphology (shape)', 'cellular morphology  (dimension 1)', 'cellular morphology  (dimension 2)', 'cellular morphology  (occurrence)', 'motility', 'flagella observations', 'division by', 'generation time', 'contain cellular inclusion bodies', 'do not contain contain cellular inclusion bodies', 'spore forming?', 'spore morphology (location)', 'spore morphology (shape)', 'spore morphology', 'pili, prosthecae, and other appendages', 'hyphal morphology', 'mycelium morphology', 'colony morphology', 'colony shape', 'colony color', 'colony diameter', 'colony margin', 'colony elevation', 'colony appearance, texture, odor, and consistency', 'colony size', 'colony opacity', 'macromorphology in liquid media', 'pigmentation', 'odor', 'pigment production', 'temperature', 'temperature range', 'temperature optimum', 'temperature (grows)', 'temperature (does not grow)', 'pH range', 'pH optimum', 'pH (grows)', 'pH (does not grow)', 'NaCl range', 'NaCl optimum', 'NaCl (grows)', 'NaCl (does not grow)', 'other salt/ion concentrations', 'oxygen, H2 and CO2 requirements', 'pressure requirements and tolerance', 'co-cultivation and obligate intracellular parasite comments', 'media (grows)', 'media (does not grow)', 'growth factors and nutritional requirements', 'compounds stimulatory to growth', 'Grows on (carbon source)', 'does not grow on (carbon source)', 'light requirements', 'broad metabolic characteristics', 'carbon source and acid/gas production', 'utilized as carbon source', 'utilized variably as carbon source', 'utilized weakly as carbon source', 'not utilized as carbon source', 'utilized as energy source', 'not utilized as energy source', 'utilized as sole carbon source', 'utilized as sole carbon and energy source', 'not utilized as sole carbon and energy source', 'not utilized as sole carbon source', 'acid and gas production from', 'acid produced aerobically ', 'acid production', 'no acid production', 'acid production weak', 'acid production variable', 'acid but no gas produced from', 'no acid or gas is produced from', 'used as nitrogen source', 'not used as nitrogen source', 'assimilation of', 'not assimilated', 'respiration positive', 'respiration negative', 'fermented', 'fermentation weak', 'fermentation variable', 'not fermented', 'sulfur source', 'are used as electron donors ', 'are not used as electron donors ', 'are used as electron acceptors', 'are not used as electron acceptors', 'oxidization positive', 'oxidization negative', 'reduction positive', 'reduction negative', 'nitrate reduction', 'denitrification / nitrogen fixation', 'biopolymer hydrolysis and degradation of other compounds', 'hydrolysis positive', 'hydrolysis negative', 'degradation positive', 'degradation negative', 'metabolic end products', 'metabolic shifts due to light', 'antimicrobial resistance', 'antimicrobial sensitivity', 'radiation tolerance', 'selective growth inhibitors', 'non selective growth inhibitors', 'common assays (IMVIC tests, milk tests, others)', 'positive enzyme activities', 'negative enzyme activities', 'variable enzyme activities', 'antibiotic production', 'pathogenicity and hemolysis', 'fatty acids', 'Mycolic acids', 'phospholipids', 'polar lipids', 'mol% G+C content (no method)', 'mol% G+C content (TM)', 'mol% G+C content (BD)', 'mol% G+C content (HPLC)', 'whole cell sugars', 'polyamines', 'cell wall content', 'respiratory quinones', 'DNA DNA homology', 'genome sequence and gene presence', 'relationships to other taxa', '16s rRNA', 'culture collection numbers', 'type strain designation', 'isolation source', 'note']
filename                  protolog_normalization_categories_with_1000_KM...
sheet_name                                                  1000_proto_proj
id_column                                rid (effective/emendation)|name.id
skip                                                                  False
requires_transposition                                                 True
spo_already                                                             NaN
note                                                                    NaN
Name: 11, dtype: object
[ERROR] protolog_normalization_categories_with_1000_KMP.xlsx:1000_proto_proj - ID column 'rid (effective/emendation)_name.id' not found. Available columns: ['name', 'ex.id (or tx.id)', 'name.id', 'rid (effective/emendation)', 'Gram positive/negative', 'Gram stain/reaction', 'Gram type', 'Gram variable', 'acid-fastness', 'other stains', 'cell wall and membrane characteristics and capsules', 'cellular morphology (shape)', 'cellular morphology  (dimension 1)', 'cellular morphology  (dimension 2)', 'cellular morphology  (occurrence)', 'motility', 'flagella observations', 'division by', 'generation time', 'contain cellular inclusion bodies', 'do not contain contain cellular inclusion bodies', 'spore forming?', 'spore morphology (location)', 'spore morphology (shape)', 'spore morphology', 'pili, prosthecae, and other appendages', 'hyphal morphology', 'mycelium morphology', 'colony morphology', 'colony shape', 'colony color', 'colony diameter', 'colony margin', 'colony elevation', 'colony appearance, texture, odor, and consistency', 'colony size', 'colony opacity', 'macromorphology in liquid media', 'pigmentation', 'odor', 'pigment production', 'temperature', 'temperature range', 'temperature optimum', 'temperature (grows)', 'temperature (does not grow)', 'pH range', 'pH optimum', 'pH (grows)', 'pH (does not grow)', 'NaCl range', 'NaCl optimum', 'NaCl (grows)', 'NaCl (does not grow)', 'other salt/ion concentrations', 'oxygen, H2 and CO2 requirements', 'pressure requirements and tolerance', 'co-cultivation and obligate intracellular parasite comments', 'media (grows)', 'media (does not grow)', 'growth factors and nutritional requirements', 'compounds stimulatory to growth', 'Grows on (carbon source)', 'does not grow on (carbon source)', 'light requirements', 'broad metabolic characteristics', 'carbon source and acid/gas production', 'utilized as carbon source', 'utilized variably as carbon source', 'utilized weakly as carbon source', 'not utilized as carbon source', 'utilized as energy source', 'not utilized as energy source', 'utilized as sole carbon source', 'utilized as sole carbon and energy source', 'not utilized as sole carbon and energy source', 'not utilized as sole carbon source', 'acid and gas production from', 'acid produced aerobically ', 'acid production', 'no acid production', 'acid production weak', 'acid production variable', 'acid but no gas produced from', 'no acid or gas is produced from', 'used as nitrogen source', 'not used as nitrogen source', 'assimilation of', 'not assimilated', 'respiration positive', 'respiration negative', 'fermented', 'fermentation weak', 'fermentation variable', 'not fermented', 'sulfur source', 'are used as electron donors ', 'are not used as electron donors ', 'are used as electron acceptors', 'are not used as electron acceptors', 'oxidization positive', 'oxidization negative', 'reduction positive', 'reduction negative', 'nitrate reduction', 'denitrification / nitrogen fixation', 'biopolymer hydrolysis and degradation of other compounds', 'hydrolysis positive', 'hydrolysis negative', 'degradation positive', 'degradation negative', 'metabolic end products', 'metabolic shifts due to light', 'antimicrobial resistance', 'antimicrobial sensitivity', 'radiation tolerance', 'selective growth inhibitors', 'non selective growth inhibitors', 'common assays (IMVIC tests, milk tests, others)', 'positive enzyme activities', 'negative enzyme activities', 'variable enzyme activities', 'antibiotic production', 'pathogenicity and hemolysis', 'fatty acids', 'Mycolic acids', 'phospholipids', 'polar lipids', 'mol% G+C content (no method)', 'mol% G+C content (TM)', 'mol% G+C content (BD)', 'mol% G+C content (HPLC)', 'whole cell sugars', 'polyamines', 'cell wall content', 'respiratory quinones', 'DNA DNA homology', 'genome sequence and gene presence', 'relationships to other taxa', '16s rRNA', 'culture collection numbers', 'type strain designation', 'isolation source', 'note', nan]
filename                  protolog_normalization_categories_with_1000_DB...
sheet_name                                                           Sheet2
id_column                                                       rid|name.id
skip                                                                  False
requires_transposition                                                 True
spo_already                                                             NaN
note                                                                    NaN
Name: 12, dtype: object

/home/mark/gitrepos/metpo/.venv/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

[ERROR] protolog_normalization_categories_with_1000_DB.xlsx:Sheet2 - ID column 'rid_name.id' not found. Available columns: ['name', 'ex.id (or tx.id)', 'name.id', 'rid', 'Gram positive/negative', 'Gram stain/reaction', 'Gram type', 'Gram variable', 'acid-fastness', 'other stains', 'cell wall and membrane characteristics and capsules', 'cellular morphology (shape)', 'cellular morphology  (dimension 1)', 'cellular morphology  (dimension 2)', 'cellular morphology  (occurrence)', 'motility', 'flagella observations', 'division by', 'generation time', 'contain cellular inclusion bodies', 'do not contain contain cellular inclusion bodies', 'spore forming?', 'spore morphology (location)', 'spore morphology (shape)', 'spore morphology', 'pili, prosthecae, and other appendages', 'hyphal morphology', 'mycelium morphology', 'colony morphology', 'colony shape', 'colony color', 'colony diameter', 'colony margin', 'colony elevation', 'colony appearance, texture, and consistency', 'colony size', 'colony opacity', 'macromorphology in liquid media', 'pigmentation', 'odor', 'pigment production', 'temperature', 'temperature range', 'temperature optimum', 'temperature (grows)', 'temperature (does not grow)', 'pH range', 'pH optimum', 'pH (grows)', 'pH (does not grow)', 'NaCl range', 'NaCl optimum', 'NaCl (grows)', 'NaCl (does not grow)', 'other salt/ion concentrations', 'oxygen, H2 and CO2 requirements', 'pressure requirements and tolerance', 'co-cultivation and obligate intracellular parasite comments', 'media (grows)', 'media (does not grow)', 'growth factors and nutritional requirements', 'compounds stimulatory to growth', 'Grows on (carbon source)', 'does not grow on (carbon source)', 'light requirements', 'broad metabolic characteristics', 'carbon source and acid/gas production', 'utilized as carbon source', 'utilized variably as carbon source', 'utilized weakly as carbon source', 'not utilized as carbon source', 'utilized as energy source', 'not utilized as energy source', 'utilized as sole carbon source', 'utilized as sole carbon and energy source', 'not utilized as sole carbon and energy source', 'not utilized as sole carbon source', 'acid and gas production from', 'acid produced aerobically ', 'acid production', 'no acid production', 'acid production weak', 'acid production variable', 'acid but no gas produced from', 'no acid or gas is produced from', 'used as nitrogen source', 'not used as nitrogen source', 'assimilation of', 'not assimilated', 'respiration positive', 'respiration negative', 'fermented', 'fermentation weak', 'fermentation variable', 'not fermented', 'sulfur source', 'are used as electron donors ', 'are not used as electron donors ', 'are used as electron acceptors', 'are not used as electron acceptors', 'oxidization positive', 'oxidization negative', 'reduction positive', 'reduction negative', 'nitrate reduction', 'denitrification / nitrogen fixation', 'biopolymer hydrolysis and degradation of other compounds', 'hydrolysis positive', 'hydrolysis negative', 'degradation positive', 'degradation negative', 'metabolic end products', 'metabolic shifts due to light', 'antimicrobial resistance', 'antimicrobial sensitivity', 'radiation tolerance', 'selective growth inhibitors', 'non selective growth inhibitors', 'common assays (IMVIC tests, milk tests, others)', 'positive enzyme activities', 'negative enzyme activities', 'variable enzyme activities', 'antibiotic production', 'pathogenicity and hemolysis', 'fatty acids', 'Mycolic acids', 'phospholipids', 'polar lipids', 'mol% G+C content (no method)', 'mol% G+C content (TM)', 'mol% G+C content (BD)', 'mol% G+C content (HPLC)', 'whole cell sugars', 'polyamines', 'cell wall content', 'respiratory quinones', 'DNA DNA homology', 'genome sequence and gene presence', 'relationships to other taxa', '16s rRNA', 'culture collection numbers', 'type strain designation', 'isolation source', 'note', nan]
filename                  protolog_normalization_categories_with_1000_DB...
sheet_name                                                           Sheet3
id_column                                                       rid|name.id
skip                                                                  False
requires_transposition                                                 True
spo_already                                                             NaN
note                                                                    NaN
Name: 13, dtype: object

/home/mark/gitrepos/metpo/.venv/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

[ERROR] protolog_normalization_categories_with_1000_DB.xlsx:Sheet3 - ID column 'rid_name.id' not found. Available columns: ['name', 'ex.id', 'name.id', 'rid', 'Gram positive/negative', 'Gram stain/reaction', 'Gram type', 'Gram variable', 'acid-fastness', 'other stains', 'cell wall and membrane characteristics and capsules', 'cellular morphology (shape)', 'cellular morphology  (dimension 1)', 'cellular morphology  (dimension 2)', 'cellular morphology  (dimension 3)', 'cellular morphology  (occurrence)', 'motility', 'flagella observations', 'division by', 'generation/doubling time', 'contain cellular inclusion bodies', 'do not contain contain cellular inclusion bodies', 'spore forming?', 'spore morphology (location)', 'spore morphology (shape)', 'spore morphology', 'pili, prosthecae, and other appendages', 'hyphal morphology', 'mycelium morphology', 'thallus morphology', 'colony morphology', 'colony shape', 'colony color', 'colony diameter', 'colony margin', 'colony elevation', 'colony appearance, texture, and consistency', 'colony size', 'colony opacity', 'macromorphology in liquid media', 'pigmentation', 'odor', 'pigment production', 'temperature', 'temperature range', 'temperature optimum', 'temperature (grows)', 'temperature (does not grow)', 'pH', 'pH range', 'pH optimum', 'pH (grows)', 'pH (does not grow)', 'NaCl range', 'NaCl optimum', 'NaCl (grows)', 'NaCl (does not grow)', 'other salt/ion concentrations', 'oxygen, CO2, and H2 requirements', 'co-cultivation and obligate intracellular parasite comments', 'media (grows)', 'media (does not grow)', 'growth factors and nutritional requirements', 'compounds stimulatory to growth', 'Grows on (carbon source)', 'does not grow on (carbon source)', 'light requirements', 'broad metabolic characteristics', 'carbon source and acid/gas production', 'utilized as carbon source', 'utilized weakly as carbon source', 'not utilized as carbon source', 'utilized as energy source', 'not utilized as energy source', 'utilized as sole carbon source', 'utilized as sole carbon and energy source', 'not utilized as sole carbon and energy source', 'not utilized as sole carbon source', 'acid and gas production from', 'acid production', 'no acid production', 'acid production variable', 'acid but no gas produced from', 'no acid or gas is produced from', 'used as nitrogen source', 'not used as nitrogen source', 'assimilation of', 'not assimilated', 'respiration positive', 'respiration negative', 'fermented', 'fermentation variable', 'not fermented', 'sulfur source', 'are used as electron donors ', 'are not used as electron donors ', 'are used as electron acceptors', 'are not used as electron acceptors', 'oxidization positive', 'oxidization negative', 'reduction positive', 'reduction negative', 'nitrate reduction', 'denitrification / nitrogen fixation', 'biopolymer hydrolysis and degradation of other compounds', 'hydrolysis positive', 'hydrolysis negative', 'degradation positive', 'degradation negative', 'metabolic end products / produces', 'metabolic shifts due to light', 'antimicrobial resistance', 'antimicrobial sensitivity', 'radiation tolerance', 'selective growth inhibitors', 'non selective growth inhibitors', 'common assays (IMVIC tests, H2S production, others)', 'positive enzyme activities', 'negative enzyme activities', 'variable enzyme activities', 'antibiotic production', 'pathogenicity and hemolysis', 'fatty acids', 'other non polar lipids', 'phospholipids', 'other polar lipids', 'mol% G+C content (no method)', 'mol% G+C content (TM)', 'mol% G+C content (BD)', 'mol% G+C content (HPLC)', 'whole cell sugars', 'polyamines', 'cell wall content', 'respiratory quinones', 'DNA DNA homology', 'genome sequence and gene presence', 'relationships to other taxa', '16s rRNA', 'culture collection numbers', 'type strain designation', 'isolation source and habitat', 'note']
filename                  protolog_normalization_categories_with_1000_KM...
sheet_name                                                  All(Sheet1,2,3)
id_column                                                       rid|name.id
skip                                                                  False
requires_transposition                                                 True
spo_already                                                             NaN
note                                                                    NaN
Name: 14, dtype: object
[ERROR] protolog_normalization_categories_with_1000_KMP.xlsx:All(Sheet1,2,3) - ID column 'rid_name.id' not found. Available columns: ['name', 'ex.id (or tx.id)', 'name.id', 'rid', 'Gram positive/negative', 'Gram stain/reaction', 'Gram type', 'Gram variable', 'acid-fastness', 'other stains', 'cell wall and membrane characteristics and capsules', 'cellular morphology (shape)', 'cellular morphology  (dimension 1)', 'cellular morphology  (dimension 2)', 'cellular morphology  (occurrence)', 'motility', 'flagella observations', 'division by', 'generation time', 'contain cellular inclusion bodies', 'do not contain contain cellular inclusion bodies', 'spore forming?', 'spore morphology (location)', 'spore morphology (shape)', 'spore morphology', 'pili, prosthecae, and other appendages', 'hyphal morphology', 'mycelium morphology', 'colony morphology', 'colony shape', 'colony color', 'colony diameter', 'colony margin', 'colony elevation', 'colony appearance, texture, and consistency', 'colony size', 'colony opacity', 'macromorphology in liquid media', 'pigmentation', 'odor', 'pigment production', 'temperature', 'temperature range', 'temperature optimum', 'temperature (grows)', 'temperature (does not grow)', 'pH range', 'pH optimum', 'pH (grows)', 'pH (does not grow)', 'NaCl range', 'NaCl optimum', 'NaCl (grows)', 'NaCl (does not grow)', 'other salt/ion concentrations', 'oxygen, H2 and CO2 requirements', 'pressure requirements and tolerance', 'co-cultivation and obligate intracellular parasite comments', 'media (grows)', 'media (does not grow)', 'growth factors and nutritional requirements', 'compounds stimulatory to growth', 'Grows on (carbon source)', 'does not grow on (carbon source)', 'light requirements', 'broad metabolic characteristics', 'carbon source and acid/gas production', 'utilized as carbon source', 'utilized variably as carbon source', 'utilized weakly as carbon source', 'not utilized as carbon source', 'utilized as energy source', 'not utilized as energy source', 'utilized as sole carbon source', 'utilized as sole carbon and energy source', 'not utilized as sole carbon and energy source', 'not utilized as sole carbon source', 'acid and gas production from', 'acid produced aerobically ', 'acid production', 'no acid production', 'acid production weak', 'acid production variable', 'acid but no gas produced from', 'no acid or gas is produced from', 'used as nitrogen source', 'not used as nitrogen source', 'assimilation of', 'not assimilated', 'respiration positive', 'respiration negative', 'fermented', 'fermentation weak', 'fermentation variable', 'not fermented', 'sulfur source', 'are used as electron donors ', 'are not used as electron donors ', 'are used as electron acceptors', 'are not used as electron acceptors', 'oxidization positive', 'oxidization negative', 'reduction positive', 'reduction negative', 'nitrate reduction', 'denitrification / nitrogen fixation', 'biopolymer hydrolysis and degradation of other compounds', 'hydrolysis positive', 'hydrolysis negative', 'degradation positive', 'degradation negative', 'metabolic end products', 'metabolic shifts due to light', 'antimicrobial resistance', 'antimicrobial sensitivity', 'radiation tolerance', 'selective growth inhibitors', 'non selective growth inhibitors', 'common assays (IMVIC tests, milk tests, others)', 'positive enzyme activities', 'negative enzyme activities', 'variable enzyme activities', 'antibiotic production', 'pathogenicity and hemolysis', 'fatty acids', 'Mycolic acids', 'phospholipids', 'polar lipids', 'mol% G+C content (no method)', 'mol% G+C content (TM)', 'mol% G+C content (BD)', 'mol% G+C content (HPLC)', 'whole cell sugars', 'polyamines', 'cell wall content', 'respiratory quinones', 'DNA DNA homology', 'genome sequence and gene presence', 'relationships to other taxa', '16s rRNA', 'culture collection numbers', 'type strain designation', 'isolation source', 'note']
filename                  protolog_normalization_categories_with_1000_KM...
sheet_name                                     EffectRIDProtos(rid.2300 up)
id_column                                                       rid|name.id
skip                                                                  False
requires_transposition                                                 True
spo_already                                                             NaN
note                                                                    NaN
Name: 15, dtype: object

/home/mark/gitrepos/metpo/.venv/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

[ERROR] protolog_normalization_categories_with_1000_KMP.xlsx:EffectRIDProtos(rid.2300 up) - ID column 'rid_name.id' not found. Available columns: ['name', 'ex.id (or tx.id)', 'name.id', 'rid', 'Gram positive/negative', 'Gram stain/reaction', 'Gram type', 'Gram variable', 'acid-fastness', 'other stains', 'cell wall and membrane characteristics and capsules', 'cellular morphology (shape)', 'cellular morphology  (dimension 1)', 'cellular morphology  (dimension 2)', 'cellular morphology  (occurrence)', 'motility', 'flagella observations', 'division by', 'generation time', 'contain cellular inclusion bodies', 'do not contain contain cellular inclusion bodies', 'spore forming?', 'spore morphology (location)', 'spore morphology (shape)', 'spore morphology', 'pili, prosthecae, and other appendages', 'hyphal morphology', 'mycelium morphology', 'colony morphology', 'colony shape', 'colony color', 'colony diameter', 'colony margin', 'colony elevation', 'colony appearance, texture, and consistency', 'colony size', 'colony opacity', 'macromorphology in liquid media', 'pigmentation', 'odor', 'pigment production', 'temperature', 'temperature range', 'temperature optimum', 'temperature (grows)', 'temperature (does not grow)', 'pH range', 'pH optimum', 'pH (grows)', 'pH (does not grow)', 'NaCl range', 'NaCl optimum', 'NaCl (grows)', 'NaCl (does not grow)', 'other salt/ion concentrations', 'oxygen, H2 and CO2 requirements', 'pressure requirements and tolerance', 'co-cultivation and obligate intracellular parasite comments', 'media (grows)', 'media (does not grow)', 'growth factors and nutritional requirements', 'compounds stimulatory to growth', 'Grows on (carbon source)', 'does not grow on (carbon source)', 'light requirements', 'broad metabolic characteristics', 'carbon source and acid/gas production', 'utilized as carbon source', 'utilized variably as carbon source', 'utilized weakly as carbon source', 'not utilized as carbon source', 'utilized as energy source', 'not utilized as energy source', 'utilized as sole carbon source', 'utilized as sole carbon and energy source', 'not utilized as sole carbon and energy source', 'not utilized as sole carbon source', 'acid and gas production from', 'acid produced aerobically ', 'acid production', 'no acid production', 'acid production weak', 'acid production variable', 'acid but no gas produced from', 'no acid or gas is produced from', 'used as nitrogen source', 'not used as nitrogen source', 'assimilation of', 'not assimilated', 'respiration positive', 'respiration negative', 'fermented', 'fermentation weak', 'fermentation variable', 'not fermented', 'sulfur source', 'are used as electron donors ', 'are not used as electron donors ', 'are used as electron acceptors', 'are not used as electron acceptors', 'oxidization positive', 'oxidization negative', 'reduction positive', 'reduction negative', 'nitrate reduction', 'denitrification / nitrogen fixation', 'biopolymer hydrolysis and degradation of other compounds', 'hydrolysis positive', 'hydrolysis negative', 'degradation positive', 'degradation negative', 'metabolic end products', 'metabolic shifts due to light', 'antimicrobial resistance', 'antimicrobial sensitivity', 'radiation tolerance', 'selective growth inhibitors', 'non selective growth inhibitors', 'common assays (IMVIC tests, milk tests, others)', 'positive enzyme activities', 'negative enzyme activities', 'variable enzyme activities', 'antibiotic production', 'pathogenicity and hemolysis', 'fatty acids', 'Mycolic acids', 'phospholipids', 'polar lipids', 'mol% G+C content (no method)', 'mol% G+C content (TM)', 'mol% G+C content (BD)', 'mol% G+C content (HPLC)', 'whole cell sugars', 'polyamines', 'cell wall content', 'respiratory quinones', 'DNA DNA homology', 'genome sequence and gene presence', 'relationships to other taxa', '16s rRNA', 'culture collection numbers', 'type strain designation', 'isolation source', 'note']
filename                  protolog_normalization_categories_with_1000_KM...
sheet_name                                                           Sheet2
id_column                                                       rid|name.id
skip                                                                  False
requires_transposition                                                 True
spo_already                                                             NaN
note                                                                    NaN
Name: 16, dtype: object

/home/mark/gitrepos/metpo/.venv/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

[ERROR] protolog_normalization_categories_with_1000_KMP.xlsx:Sheet2 - ID column 'rid_name.id' not found. Available columns: ['name', 'ex.id', 'name.id', 'rid', 'Gram positive/negative', 'Gram stain/reaction', 'Gram type', 'Gram variable', 'acid-fastness', 'other stains', 'cell wall and membrane characteristics and capsules', 'cellular morphology (shape)', 'cellular morphology  (dimension 1)', 'cellular morphology  (dimension 2)', 'cellular morphology  (occurrence)', 'motility', 'flagella observations', 'division by', 'generation/doubling time', 'contain cellular inclusion bodies', 'do not contain contain cellular inclusion bodies', 'spore forming?', 'spore morphology (location)', 'spore morphology (shape)', 'spore morphology', 'pili, prosthecae, and other appendages', 'hyphal morphology', 'mycelium morphology', 'colony morphology', 'colony shape', 'colony color', 'colony diameter', 'colony margin', 'colony elevation', 'colony appearance, texture, and consistency', 'colony size', 'colony opacity', 'macromorphology in liquid media', 'pigmentation', 'odor', 'pigment production', 'temperature', 'temperature range', 'temperature optimum', 'temperature (grows)', 'temperature (does not grow)', 'pH range', 'pH optimum', 'pH (grows)', 'pH (does not grow)', 'NaCl range', 'NaCl optimum', 'NaCl (grows)', 'NaCl (does not grow)', 'other salt/ion concentrations', 'oxygen, CO2, and H2 requirements', 'pressure requirements and tolerance', 'co-cultivation and obligate intracellular parasite comments', 'media (grows)', 'media (does not grow)', 'growth factors and nutritional requirements', 'compounds stimulatory to growth', 'Grows on (carbon source)', 'does not grow on (carbon source)', 'light requirements', 'broad metabolic characteristics', 'carbon source and acid/gas production', 'utilized as carbon source', 'utilized variably as carbon source', 'utilized weakly as carbon source', 'not utilized as carbon source', 'utilized as energy source', 'not utilized as energy source', 'utilized as sole carbon source', 'utilized as sole carbon and energy source', 'not utilized as sole carbon and energy source', 'not utilized as sole carbon source', 'acid and gas production from', 'acid produced aerobically ', 'acid production', 'no acid production', 'acid production weak', 'acid production variable', 'acid but no gas produced from', 'no acid or gas is produced from', 'used as nitrogen source', 'not used as nitrogen source', 'assimilation of', 'not assimilated', 'respiration positive', 'respiration negative', 'fermented', 'fermentation weak', 'fermentation variable', 'not fermented', 'sulfur source', 'are used as electron donors ', 'are not used as electron donors ', 'are used as electron acceptors', 'are not used as electron acceptors', 'oxidization positive', 'oxidization negative', 'reduction positive', 'reduction negative', 'nitrate reduction', 'denitrification / nitrogen fixation', 'biopolymer hydrolysis and degradation of other compounds', 'hydrolysis positive', 'hydrolysis negative', 'degradation positive', 'degradation negative', 'metabolic end products / produces', 'metabolic shifts due to light', 'antimicrobial resistance', 'antimicrobial sensitivity', 'radiation tolerance', 'selective growth inhibitors', 'non selective growth inhibitors', 'common assays (IMVIC tests, H2S production, others)', 'positive enzyme activities', 'negative enzyme activities', 'variable enzyme activities', 'antibiotic production', 'pathogenicity and hemolysis', 'fatty acids', 'other non polar lipids', 'phospholipids', 'other polar lipids', 'mol% G+C content (no method)', 'mol% G+C content (TM)', 'mol% G+C content (BD)', 'mol% G+C content (HPLC)', 'whole cell sugars', 'polyamines', 'cell wall content', 'respiratory quinones', 'DNA DNA homology', 'genome sequence and gene presence', 'relationships to other taxa', '16s rRNA', 'culture collection numbers', 'type strain designation', 'isolation source and habitat', 'note']
filename                  complete.term.book_07.18.2013_CTP.xlsx
sheet_name                                                Sheet1
id_column                                             Term|class
skip                                                       False
requires_transposition                                     False
spo_already                                                  NaN
note                                                         NaN
Name: 17, dtype: object
[ERROR] complete.term.book_07.18.2013_CTP.xlsx:Sheet1 - ID column 'Term_class' not found. Available columns: ['index', 'DOI', 'Singular and/or Plural', 'Part of Speech', 'Term', 'class', 'Singleton', 'Merriam-Webster', 'dictionary.com', 'Prescott', 'derivation language', 'eponym language', 'eponym', 'eponym meaning', 'Pronunciation', 'Synonym', 'Definition', 'Notes', 'see also', 'specific species definition']
filename                  article_download_status_20161222.xlsx
sheet_name                                        all_protologs
id_column                                                   UID
skip                                                      False
requires_transposition                                    False
spo_already                                                 NaN
note                               UID style: rid.10014_nm.6832
Name: 18, dtype: object
[DUPLICATES] article_download_status_20161222.xlsx:all_protologs - No duplicates in 'UID'
[INFO] article_download_status_20161222.xlsx:all_protologs → 58601 melted rows
filename                  article_download_status_20161222.xlsx
sheet_name                                     parsed_protologs
id_column                                                   UID
skip                                                      False
requires_transposition                                    False
spo_already                                                 NaN
note                                                        NaN
Name: 19, dtype: object
[DUPLICATES] article_download_status_20161222.xlsx:parsed_protologs - No duplicates in 'UID'
[INFO] article_download_status_20161222.xlsx:parsed_protologs → 39440 melted rows
filename                  media_normalized_20130916.xlsx
sheet_name                             chemical_exemplar
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 20, dtype: object
[ERROR] media_normalized_20130916.xlsx:chemical_exemplar - ID column 'nan' not found. Available columns: ['chemical_exemplar.id', 'id', 'url', 'note']
filename                  media_normalized_20130916.xlsx
sheet_name                                 chemical_name
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 21, dtype: object
[ERROR] media_normalized_20130916.xlsx:chemical_name - ID column 'nan' not found. Available columns: ['substance_name.name', 'chemical_name.id', 'chemical_taxon.id']
filename                  media_normalized_20130916.xlsx
sheet_name                                chemical_taxon
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 22, dtype: object
[ERROR] media_normalized_20130916.xlsx:chemical_taxon - ID column 'nan' not found. Available columns: ['chemical_taxon.id', 'chemical_taxon.rank']
filename                  media_normalized_20130916.xlsx
sheet_name                       chemical_taxon_exemplar
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 23, dtype: object
[ERROR] media_normalized_20130916.xlsx:chemical_taxon_exemplar - ID column 'nan' not found. Available columns: ['chemical_taxon.id', 'chemical_exemplar.id']
filename                  media_normalized_20130916.xlsx
sheet_name                                    ingredient
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 24, dtype: object
[ERROR] media_normalized_20130916.xlsx:ingredient - ID column 'nan' not found. Available columns: ['id', 'medium_id', 'substance_id', 'substance_name', 'amount', 'unit_id', 'units', 'note', 'synonym']
filename                  media_normalized_20130916.xlsx
sheet_name                                        medium
id_column                          substance_exemplar.id
skip                                               False
requires_transposition                             False
spo_already                                          NaN
note                                                 NaN
Name: 25, dtype: object
[DUPLICATES] media_normalized_20130916.xlsx:medium - 4 duplicate rows on 'substance_exemplar.id' → ['10.1601/medium.exemplar.58', '10.1601/medium.exemplar.279']
[INFO] media_normalized_20130916.xlsx:medium → 143 melted rows
filename                  media_normalized_20130916.xlsx
sheet_name                               medium_features
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                         True
note                                                 NaN
Name: 26, dtype: object
[INFO] media_normalized_20130916.xlsx:medium_features (SPO) → 627 rows
filename                  media_normalized_20130916.xlsx
sheet_name                                   medium_name
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 27, dtype: object
[ERROR] media_normalized_20130916.xlsx:medium_name - ID column 'nan' not found. Available columns: ['substance_name.id', 'substance_name.name', 'substance_name.taxon_id']
filename                  media_normalized_20130916.xlsx
sheet_name                                  medium_taxon
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 28, dtype: object
[ERROR] media_normalized_20130916.xlsx:medium_taxon - ID column 'nan' not found. Available columns: ['substance_taxon.id', 'substance_taxon.rank']
filename                  media_normalized_20130916.xlsx
sheet_name                         medium_taxon_exemplar
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 29, dtype: object
[ERROR] media_normalized_20130916.xlsx:medium_taxon_exemplar - ID column 'nan' not found. Available columns: ['medium_taxon_exemplar.taxon_id', 'medium_taxon_exemplar.exemplar_id']
filename                  media_normalized_20130916.xlsx
sheet_name                               medium_taxonomy
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 30, dtype: object
[ERROR] media_normalized_20130916.xlsx:medium_taxonomy - ID column 'nan' not found. Available columns: ['substance_taxonomy.parent_taxon_id', 'substance_taxonomy.child_taxon_id']
filename                  media_normalized_20130916.xlsx
sheet_name                          medium_taxonomy_full
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 31, dtype: object
[ERROR] media_normalized_20130916.xlsx:medium_taxonomy_full - ID column 'nan' not found. Available columns: ['substance_name.name', 'substance_name.id', 'substance_taxon.id', 'substance_exemplar.id', 'parent_taxon.id', 'rank']
filename                  media_normalized_20130916.xlsx
sheet_name                              mixture_exemplar
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 32, dtype: object
[ERROR] media_normalized_20130916.xlsx:mixture_exemplar - ID column 'nan' not found. Available columns: ['exemplar_id', 'preparation', 'per_volume_amount', 'per_volume_units']
filename                  media_normalized_20130916.xlsx
sheet_name                            mixture_ingredient
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 33, dtype: object
[ERROR] media_normalized_20130916.xlsx:mixture_ingredient - ID column 'nan' not found. Available columns: ['ingredient.list_id', 'ingredient.substance_id', 'sort_order', 'amount', 'units', 'note']
filename                  media_normalized_20130916.xlsx
sheet_name                                  mixture_name
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 34, dtype: object
[ERROR] media_normalized_20130916.xlsx:mixture_name - ID column 'nan' not found. Available columns: ['substance_name.id', 'substance_name.name', 'substance_name.taxon']
filename                  media_normalized_20130916.xlsx
sheet_name                                 mixture_taxon
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 35, dtype: object
[ERROR] media_normalized_20130916.xlsx:mixture_taxon - ID column 'nan' not found. Available columns: ['substance_taxon.id', 'substance_taxon.rank']
filename                  media_normalized_20130916.xlsx
sheet_name                        mixture_taxon_exemplar
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 36, dtype: object
[ERROR] media_normalized_20130916.xlsx:mixture_taxon_exemplar - ID column 'nan' not found. Available columns: ['taxon_id', 'exemplar_id']
filename                  media_normalized_20130916.xlsx
sheet_name                              mixture_taxonomy
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 37, dtype: object
[ERROR] media_normalized_20130916.xlsx:mixture_taxonomy - ID column 'nan' not found. Available columns: ['substance_taxonomy.parent', 'substance_taxonomy.child']
filename                  media_normalized_20130916.xlsx
sheet_name                                       product
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 38, dtype: object
[ERROR] media_normalized_20130916.xlsx:product - ID column 'nan' not found. Available columns: ['substance_name.id', 'substance_name.name', 'url', 'synonym', 'note', 'vendor_id', 'vendor', 'productId']
filename                  media_normalized_20130916.xlsx
sheet_name                            substance_exemplar
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 39, dtype: object
[ERROR] media_normalized_20130916.xlsx:substance_exemplar - ID column 'nan' not found. Available columns: ['substance_exemplar.id', 'substance_exemplar.type']
filename                  media_normalized_20130916.xlsx
sheet_name                    substance_exemplar_feature
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 40, dtype: object
[ERROR] media_normalized_20130916.xlsx:substance_exemplar_feature - ID column 'nan' not found. Available columns: ['substance_exemplar_feature.exemplar_id', 'substance_exemplar_feature.type', 'substance_exemplar_feature.id']
filename                  media_normalized_20130916.xlsx
sheet_name                       substance_exemplar_type
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 41, dtype: object
[ERROR] media_normalized_20130916.xlsx:substance_exemplar_type - ID column 'nan' not found. Available columns: ['substance_exemplar_feature_type.type', 'substance_exemplar_type.description']
filename                  media_normalized_20130916.xlsx
sheet_name                                          unit
id_column                                            NaN
skip                                               False
requires_transposition                               NaN
spo_already                                          NaN
note                                                 NaN
Name: 42, dtype: object
[ERROR] media_normalized_20130916.xlsx:unit - ID column 'nan' not found. Available columns: ['sortOrder', 'id', 'abbreviation', 'description', 'markup', 'uri', 'available']
filename                  media_normalized_20130916.xlsx
sheet_name                                        vendor
id_column                                            NaN

In [22]:
# Combine all into one frame
combined_df = pd.concat(melted_frames, ignore_index=True)

In [23]:
combined_df.shape

(3736012, 5)

In [24]:
combined_df = combined_df.drop_duplicates()

In [25]:
combined_df.shape

(3736012, 5)

In [26]:
combined_df = combined_df.dropna(subset=["subject", "predicate", "object_value"])

In [27]:
combined_df.shape

(3736012, 5)

In [28]:
combined_df

,subject,predicate,object_value,source_file,source_sheet
0,rid.1093_nm.3736,refid,rid.1093,article_download_status_20161222.xlsx,all_protologs
1,rid.1093_nm.3737,refid,rid.1093,article_download_status_20161222.xlsx,all_protologs
2,rid.5447_nm.3315,refid,rid.5447,article_download_status_20161222.xlsx,all_protologs
3,rid.5447_nm.11022,refid,rid.5447,article_download_status_20161222.xlsx,all_protologs
4,rid.5447_nm.3314,refid,rid.5447,article_download_status_20161222.xlsx,all_protologs
...,...,...,...,...,...
3736007,nm.8017,note,The descriptions of Murinilabilia sulmonicolor...,protolog_normalization_categories_with_1000_KM...,Sheet2
3736008,nm.2199,note,The description of Acidithiobacillus thiooxida...,protolog_normalization_categories_with_1000_KM...,Sheet2
3736009,nm.5724,note,In addition to the description of the genus,protolog_normalization_categories_with_1000_KM...,Sheet2
3736010,rid.4142_nm.1005,note,no true protolog in this reference,protolog_normalization_categories_with_1000_KM...,Sheet2
3736011,rid.4142_nm.1006,note,no true protolog in this reference,protolog_normalization_categories_with_1000_KM...,Sheet2

In [ ]:
combined_dropped_df = pd.concat(melted_dropped_frames, ignore_index=True)

In [ ]:
combined_dropped_df.shape

In [ ]:
combined_dropped_df = combined_dropped_df.drop_duplicates()

In [ ]:
combined_dropped_df.shape

In [ ]:
combined_dropped_df